#modalBodyConfirmDialog{
    text-align: center;
}

#modalBodyConfirmDialog .icon{
    margin: 0px;
}

#modalBodyConfirmDialog .footer{
    text-align: center;
    border: none;
    padding-top: 0;
}

#modalBodyConfirmDialog .subtitle{
    margin: 10px 0px;
    font-size: 20px;
    font-weight: 300;
}

#modalBodyConfirmDialog .subtitle,
#modalBodyConfirmDialog .title{
    color: #606060;
    line-height: 1;
}