.siginPanel{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.button__state--link button{
    box-shadow: none;
}

.titulo_card{
    font-weight: 500;
    margin-top: 0;
    margin-bottom: 25px;
}

.modalPassword{
    justify-content: flex-end; display: inline-grid; grid-template-columns: 1fr 1fr;
}