<div id="background-login" class="siginPanel col-md-12 col-lg-12 col-sm-12 col-xs-12">

    <crn-login class="login-view col-lg-5 col-md-5 col-sm-8 col-xs-10" id="background-card-login"
        logo="node_modules/cronapp-framework-js/img/cronapp-logo-login.png" 
        logocaption="{{'logoCronapp' | translate}}"            
        username="{{'Login.view.Username' | translate}}" 
        password="{{'Login.view.Password' | translate}}"
        resetpassword="true" 
        nameresetpassword="{{'ResetPassword' | translate}}"        
        buttonlogin="{{'Login.view.Login' | translate}}" 
        goregister="true"        
        buttonregister="{{'Signup.view.Signup' | translate}}" 
        actionregister="#/public/signup">
    </crn-login>

</div>