<crn-login 
ng-model="vars.cronLogin${RANDOM}" 

logo="node_modules/cronapp-framework-js/img/cronapp-logo-login.png"
legendaLogo="Logotipo do Cronapp"
username="{{'Login.view.Username' | translate}}"
placeholderUsername="{{'Login.view.Username' | translate}}"
password="{{'Login.view.Password' | translate}}"
placeholderPassword="{{'Login.view.Password' | translate}}"

resetpassword="true"
nameResetPassword="{{'ResetPassword' | translate}}"

botaoLogin="{{'Login.view.Login' | translate}}"

goCadastro="true"
botaoCadastro="{{'Signup.view.Signup' | translate}}"
></crn-login>