<crn-login 

logo="node_modules/cronapp-framework-js/img/cronapp-logo-login.png"
logocaption="Logotipo do Cronapp"
username="{{'Login.view.Username' | translate}}"
placeholderusername="{{'Login.view.Username' | translate}}"
password="{{'Login.view.Password' | translate}}"
placeholderpassword="{{'Login.view.Password' | translate}}"

resetpassword="true"
nameresetpassword="{{'ResetPassword' | translate}}"

buttonlogin="{{'Login.view.Login' | translate}}"

goregister="true"
buttonregister="{{'Signup.view.Signup' | translate}}"

actionlogin="login()"
actionregister="#/public/signup"
></crn-login>