.crn-navigator-vertical{
     height: 100%;
}

.crn-navigator-vertical-navbar{
     height: 100%;
     border-radius: 0px;
     width: 15%;
}

.crn-navigator-vertical-container-fluid{
    padding-right: 0px;
    padding-left: 0px;
    margin-left: 20px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.crn-navigator-vertical-container-fluid>.navbar-collapse, .crn-navigator-vertical-container-fluid>.navbar-header, .crn-navigator-vertical-container>.navbar-collapse, .crn-navigator-vertical-container>.navbar-header {
    margin-right: 0;
    margin-left: 0;
}

.crn-navigator-vertical-header{
     float: none;
}

.crn-navigator-vertical-navbar-collapse.collapse{
    margin-left: -25px;
    padding-right: 15px;
    padding-left: 15px;
    overflow-x: visible;
    -webkit-overflow-scrolling: touch;
    border-top: 1px solid transparent;
    -webkit-box-shadow: inset 0 1px 0 rgba(255,255,255,.1);
    box-shadow: inset 0 1px 0 rgba(255,255,255,.1);
}

.crn-navigator-vertical-navbar-collapse.in {
    overflow-y: auto;
    display:block;
}

.crn-navigator-vertical-navbar-collapse{
    width: auto;
    border-top: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
}

.crn-navigator-vertical-navbar-toggle{
   display: none;
}

.crn-navigator-vertical-navbar>.container .crn-navigator-vertical-navbar-brand, .crn-navigator-vertical-navbar-brand>.container-fluid .crn-navigator-vertical-navbar-brand {
    margin-left: 0px;
}

.crn-navigator-vertical-navbar-nav {
    float: none;
    margin: 0;
}

.crn-navbar-vertical .navbar-nav .open .dropdown-menu > li > a {
    color: inherit;
}

.crn-navigator-vertical-navbar-nav .open .dropdown-menu>li>a {
    line-height: 20px;
}

.crn-navigator-vertical-navbar-nav .open .dropdown-menu .dropdown-header, .navbar-nav .open .dropdown-menu>li>a {
    padding: 5px 15px 5px 25px;
}

.crn-navigator-vertical-navbar-nav>li>a {
    padding-top: 15px;
    padding-bottom: 15px;
}

.crn-navigator-vertical-navbar-nav>li {
    float: none;
}

.crn-navigator-vertical-navbar-nav .open .dropdown-menu > li > a, .dropdown-menu  {
    position: static;
    float: none;
    width: auto;
    margin-top: 0;
    background-color: transparent;
    border: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
}

.crn-navigator-vertical-navbar-nav .open .dropdown-menu > li > a:hover, .crn-navigator-vertical-navbar-nav .open .dropdown-menu > li > a:focus  {
    color: white;
}

.crn-navigator-vertical-navbar-nav .dropdown-menu {
    margin-left: -11px;
}

.crn-navigator-vertical-navbar-right {
    float: none!important;
    margin-right: 0px;
}

.crn-navigator-vertical-navbar-right .dropdown-menu {
     left: 0;
     right: 0;
}