.alert {
    padding: 15px;
    margin-bottom: 23px;
    border-radius: 3px;
    border: none;
    color: #fff
}

.alert h4 {
    margin-top: 0;
    color: inherit
}

.alert .alert-link {
    font-weight: bold
}

.alert>p,
.alert>ul {
    margin-bottom: 0
}

.alert>p+p {
    margin-top: 5px
}

.alert-dismissable,
.alert-dismissible {
    padding-right: 35px
}

.alert-dismissable .close,
.alert-dismissible .close {
    position: relative;
    top: -2px;
    right: -21px;
    color: inherit
}

.alert a:not(.close):not(.btn),
.alert .alert-link {
    color: #fff;
    font-weight: bold
}

.alert .close {
    color: #fff
}
