.close {
    float: right;
    font-size: 19.5px;
    font-weight: normal;
    line-height: 1;
    color: #000000;
    text-shadow: none;
    opacity: 0.2;
    filter: alpha(opacity=20)
}

.close:hover,
.close:focus {
    color: #000000;
    text-decoration: none;
    cursor: pointer;
    opacity: 0.5;
    filter: alpha(opacity=50)
}

button.close {
    padding: 0;
    cursor: pointer;
    background: transparent;
    border: 0;
    -webkit-appearance: none
}

.close {
    font-size: 34px;
    font-weight: 300;
    line-height: 24px;
    opacity: 0.6;
    -webkit-transition: all 0.2s;
    -o-transition: all 0.2s;
    transition: all 0.2s
}

.close:hover {
    opacity: 1
}