figure {
    margin: 0
}

img {
    vertical-align: middle
}

.img-responsive,
.thumbnail>img,
.thumbnail a>img,
.carousel-inner>.item>img,
.carousel-inner>.item>a>img {
    display: block;
    max-width: 100%;
    height: auto
}

.img-rounded {
    border-radius: 3px
}

.img-thumbnail {
    padding: 4px;
    line-height: 1.846;
    background-color: #ffffff;
    border: 1px solid #dddddd;
    border-radius: 3px;
    -webkit-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
    display: inline-block;
    max-width: 100%;
    height: auto
}

.img-circle {
    border-radius: 50%
}