.nav {
    margin-bottom: 0;
    padding-left: 0;
    list-style: none
}

.nav>li {
    position: relative;
    display: block
}

.nav>li>a {
    position: relative;
    display: block;
    padding: 10px 15px
}

.nav>li>a:hover,
.nav>li>a:focus {
    text-decoration: none;
    background-color: #eeeeee
}

.nav>li.disabled>a {
    color: #bbbbbb
}

.nav>li.disabled>a:hover,
.nav>li.disabled>a:focus {
    color: #bbbbbb;
    text-decoration: none;
    background-color: transparent;
    cursor: not-allowed
}

.nav .open>a,
.nav .open>a:hover,
.nav .open>a:focus {
    background-color: #eeeeee;
    border-color: #2196f3
}

.nav .nav-divider {
    height: 1px;
    margin: 10.5px 0;
    overflow: hidden;
    background-color: #e5e5e5
}

.nav>li>a>img {
    max-width: none
}

.nav-tabs {
    border-bottom: 1px solid transparent
}

.nav-tabs>li {
    float: left;
    margin-bottom: -1px
}

.nav-tabs>li>a {
    margin-right: 2px;
    line-height: 1.846;
    border: 1px solid transparent;
    border-radius: 3px 3px 0 0
}

.nav-tabs>li>a:hover {
    border-color: #eeeeee #eeeeee transparent
}

.nav-tabs>li.active>a,
.nav-tabs>li.active>a:hover,
.nav-tabs>li.active>a:focus {
    color: #666666;
    background-color: transparent;
    border: 1px solid transparent;
    border-bottom-color: transparent;
    cursor: default
}

.nav-tabs.nav-justified {
    width: 100%;
    border-bottom: 0
}

.nav-tabs.nav-justified>li {
    float: none
}

.nav-tabs.nav-justified>li>a {
    text-align: center;
    margin-bottom: 5px
}

.nav-tabs.nav-justified>.dropdown .dropdown-menu {
    top: auto;
    left: auto
}

@media (min-width:768px) {
    .nav-tabs.nav-justified>li {
        display: table-cell;
        width: 1%
    }
    .nav-tabs.nav-justified>li>a {
        margin-bottom: 0
    }
}

.nav-tabs.nav-justified>li>a {
    margin-right: 0;
    border-radius: 3px
}

.nav-tabs.nav-justified>.active>a,
.nav-tabs.nav-justified>.active>a:hover,
.nav-tabs.nav-justified>.active>a:focus {
    border: 1px solid transparent
}

@media (min-width:768px) {
    .nav-tabs.nav-justified>li>a {
        border-bottom: 1px solid transparent;
        border-radius: 3px 3px 0 0
    }
    .nav-tabs.nav-justified>.active>a,
    .nav-tabs.nav-justified>.active>a:hover,
    .nav-tabs.nav-justified>.active>a:focus {
        border-bottom-color: #ffffff
    }
}

.nav-pills>li {
    float: left
}

.nav-pills>li>a {
    border-radius: 3px
}

.nav-pills>li+li {
    margin-left: 2px
}

.nav-pills>li.active>a,
.nav-pills>li.active>a:hover,
.nav-pills>li.active>a:focus {
    color: #ffffff;
    background-color: #2196f3
}

.nav-stacked>li {
    float: none
}

.nav-stacked>li+li {
    margin-top: 2px;
    margin-left: 0
}

.nav-justified {
    width: 100%
}

.nav-justified>li {
    float: none
}

.nav-justified>li>a {
    text-align: center;
    margin-bottom: 5px
}

.nav-justified>.dropdown .dropdown-menu {
    top: auto;
    left: auto
}

@media (min-width:768px) {
    .nav-justified>li {
        display: table-cell;
        width: 1%
    }
    .nav-justified>li>a {
        margin-bottom: 0
    }
}

.nav-tabs-justified {
    border-bottom: 0
}

.nav-tabs-justified>li>a {
    margin-right: 0;
    border-radius: 3px
}

.nav-tabs-justified>.active>a,
.nav-tabs-justified>.active>a:hover,
.nav-tabs-justified>.active>a:focus {
    border: 1px solid transparent
}

@media (min-width:768px) {
    .nav-tabs-justified>li>a {
        border-bottom: 1px solid transparent;
        border-radius: 3px 3px 0 0
    }
    .nav-tabs-justified>.active>a,
    .nav-tabs-justified>.active>a:hover,
    .nav-tabs-justified>.active>a:focus {
        border-bottom-color: #ffffff
    }
}

.nav-tabs .dropdown-menu {
    margin-top: -1px;
    border-top-right-radius: 0;
    border-top-left-radius: 0
}

.nav-tabs>li>a,
.nav-tabs>li>a:focus {
    margin-right: 0;
    background-color: transparent;
    border: none;
    color: #666666;
    -webkit-box-shadow: inset 0 -1px 0 #ddd;
    box-shadow: inset 0 -1px 0 #ddd;
    -webkit-transition: all 0.2s;
    -o-transition: all 0.2s;
    transition: all 0.2s
}

.nav-tabs>li>a:hover,
.nav-tabs>li>a:focus:hover {
    background-color: transparent;
    -webkit-box-shadow: inset 0 -2px 0 #2196f3;
    box-shadow: inset 0 -2px 0 #2196f3;
    color: #2196f3
}

.nav-tabs>li.active>a,
.nav-tabs>li.active>a:focus {
    border: none;
    -webkit-box-shadow: inset 0 -2px 0 #2196f3;
    box-shadow: inset 0 -2px 0 #2196f3;
    color: #2196f3
}

.nav-tabs>li.active>a:hover,
.nav-tabs>li.active>a:focus:hover {
    border: none;
    color: #2196f3
}

.nav-tabs>li.disabled>a {
    -webkit-box-shadow: inset 0 -1px 0 #ddd;
    box-shadow: inset 0 -1px 0 #ddd
}

.nav-tabs.nav-justified>li>a,
.nav-tabs.nav-justified>li>a:hover,
.nav-tabs.nav-justified>li>a:focus,
.nav-tabs.nav-justified>.active>a,
.nav-tabs.nav-justified>.active>a:hover,
.nav-tabs.nav-justified>.active>a:focus {
    border: none
}

.nav-tabs .dropdown-menu {
    margin-top: 0
}