.thumbnail {
    display: block;
    padding: 4px;
    margin-bottom: 23px;
    line-height: 1.846;
    background-color: #ffffff;
    border: 1px solid #dddddd;
    border-radius: 3px;
    -webkit-transition: border .2s ease-in-out;
    -o-transition: border .2s ease-in-out;
    transition: border .2s ease-in-out
}

.thumbnail>img,
.thumbnail a>img {
    margin-left: auto;
    margin-right: auto
}

a.thumbnail:hover,
a.thumbnail:focus,
a.thumbnail.active {
    border-color: #2196f3
}

.thumbnail .caption {
    padding: 9px;
    color: #666666
}