<div id="background-login" class="siginPanel">

    <crn-signup class="login-view"
       
        titlesignup="{{'Signup.view.Signup' | translate}}" 
        email="{{'Signup.view.Email' | translate}}"
        username="{{'Login.view.Username' | translate}}"
        password="{{'Users.view.Senha' | translate}}"
        confirmyourpassword="{{'Users.view.ConfirmeSuaSenha' | translate}}"       
        buttonsignup="{{'Signup.view.Register' | translate}}"
        buttonback="{{'Signup.view.Signup' | translate}}" 
        actionsignup="signup()"
        actionbackup="#/">

        <form class="form-validation ng-pristine ng-valid ng-valid-required" autocomplete="off" name="form" ng-submit="attrs.actionsignup" role="form">

            <div class="component-holder ng-binding ng-scope col-xs-12 col-md-12" data-component="crn-image" id="crn-image-signup">
                <h1 class="text-center title component-holder titulo_card" xattr-position="h1 text-center"
                    xattr-type="h1" data-component="crn-text-component" id="crn-text-component-signup">
                    {{attrs.titlesignup}}
                </h1>
            </div>
        
            <div class="component-holder ng-binding ng-scope col-xs-12 col-md-12" data-component="crn-textinput" id="crn-textinput-signupemail">
                <div class="form-group">
                    <label for="signupEmail" class="ng-binding">
                        {{attrs.email}}
                    </label>
                    <input type="email" mask="" mask-placeholder="" ng-required="false"
                           ng-model="signupEmail" id="signupEmail"
                           class="form-control k-textbox ng-pristine ng-untouched ng-valid ng-empty ng-valid-required"
                           placeholder="{{attrs.email}}" autocomplete="email" autocorrect="off" autocapitalize="off">
                </div>
            </div>
        
            <div class="component-holder ng-binding ng-scope col-xs-12 col-md-12" data-component="crn-textinput" id="crn-textinput-signupusername">
                <div class="form-group">
                    <label for="signupUsername" class="ng-binding">
                        {{attrs.username}}
                    </label>
                    <input type="text" mask="" mask-placeholder="" ng-required="false"
                           ng-model="signupUsername" id="signupUsername"
                           class="form-control k-textbox ng-pristine ng-untouched ng-valid ng-empty ng-valid-required"
                           placeholder="" autocomplete="username" autocorrect="off" autocapitalize="off">
                </div>
            </div>
        
            <div class="component-holder ng-binding ng-scope col-xs-12 col-md-12" data-component="crn-textinput" id="crn-textinput-signuppassword">
                <div class="form-group">
                    <label for="signupPassword" class="ng-binding">
                        {{attrs.password}}
                    </label>
                    <input type="password" mask="" mask-placeholder="" ng-required="false"
                           ng-model="signupPassword" id="signupPassword"
                           class="form-control k-textbox ng-pristine ng-untouched ng-valid ng-empty ng-valid-required"
                           placeholder="{{attrs.password}}" autocomplete="password" autocorrect="off" autocapitalize="off">
                </div>
            </div>
        
            <div class="component-holder ng-binding ng-scope col-xs-12 col-md-12" data-component="crn-textinput" id="crn-textinput-signupconfirmpassword">
                <div class="form-group">
                    <label for="signupConfirmPassword" class="ng-binding">
                        {{attrs.confirmyourpassword}}
                    </label>
                    <input type="password" mask="" mask-placeholder="" ng-required="false"
                           ng-model="signupConfirmPassword" id="signupConfirmPassword"
                           class="form-control k-textbox ng-pristine ng-untouched ng-valid ng-empty ng-valid-required"
                           placeholder="{{attrs.confirmyourpassword}}" autocomplete="confirm-password" autocorrect="off"
                           autocapitalize="off">
                </div>
            </div>
        
            <div class="component-holder ng-binding ng-scope col-md-12" data-component="crn-button">
                <div class="messages">
                    <div ng-show="message.error" class="help-block ng-binding ng-hide" data-container="true">
        
                    </div>
                </div>
                <button role="button" aria-label="{{attrs.buttonsignup}}"
                        class="btn btn-default col-md-12 col-xs-12 k-button btn-primary crn-button-signup-register" type="submit"
                        ng-disabled="form.$invalid || vm.dataLoading"
                        ng-click="cronapi.client('js.blockly.Signup.Signup').names('signupUsername', 'signupEmail', 'signupPassword', 'signupConfirmPassword').run(signupUsername, signupEmail, signupPassword, signupConfirmPassword)"
                        xattr-size="" xattr-fullsize="" xattr-theme="btn-default" xattr-disabled="" data-component="crn-button">
                    <span class="ng-binding">
                        {{attrs.buttonsignup}}
                    </span>
                </button>
                <a href="attrs.actionbackup" class="cron-link component-holder col-md-12 col-xs-12 crn-anchor-signup-back" target="_self"
                   data-replace="true" data-component="crn-anchor" id="crn-anchor-signupback" style="text-align: center;">
                    {{attrs.buttonback}}
                </a>
            </div>

        </form>
    </crn-signup>
</div>