blockquote {
    border-left: 5px solid #eeeeee;
}

blockquote footer,
blockquote small,
blockquote .small {
    color: #999999;
}


.blockquote-reverse,
blockquote.pull-right {
    border-right: 5px solid #eeeeee;
}
