.btn {
    text-shadow: 0 1px 0 rgba(0, 0, 0, 0.1);
}

.btn .caret {
    border-top-color: #fff;
}

.btn-default {
    background-image: -webkit-linear-gradient(#ffffff, #ffffff 60%, #f5f5f5);
    background-image: -o-linear-gradient(#ffffff, #ffffff 60%, #f5f5f5);
    background-image: -webkit-gradient(linear, left top, left bottom, from(#ffffff), color-stop(60%, #ffffff), to(#f5f5f5));
    background-image: linear-gradient(#ffffff, #ffffff 60%, #f5f5f5);
    background-repeat: no-repeat;
    filter: progid: DXImageTransform.Microsoft.gradient(startColorstr='#ffffffff', endColorstr='#fff5f5f5', GradientType=0);
    -webkit-filter: none;
    filter: none;
    border-bottom: 1px solid #e6e6e6;
}

.btn-default:hover {
    color: #555555;
}

.btn-default .caret {
    border-top-color: #555555;
}

.btn-default {
    background-image: -webkit-linear-gradient(#ffffff, #ffffff 60%, #f5f5f5);
    background-image: -o-linear-gradient(#ffffff, #ffffff 60%, #f5f5f5);
    background-image: -webkit-gradient(linear, left top, left bottom, from(#ffffff), color-stop(60%, #ffffff), to(#f5f5f5));
    background-image: linear-gradient(#ffffff, #ffffff 60%, #f5f5f5);
    background-repeat: no-repeat;
    filter: progid: DXImageTransform.Microsoft.gradient(startColorstr='#ffffffff', endColorstr='#fff5f5f5', GradientType=0);
    -webkit-filter: none;
    filter: none;
    border-bottom: 1px solid #e6e6e6;
}

.btn-primary {
    background-image: -webkit-linear-gradient(#54b4eb, #2fa4e7 60%, #1d9ce5);
    background-image: -o-linear-gradient(#54b4eb, #2fa4e7 60%, #1d9ce5);
    background-image: -webkit-gradient(linear, left top, left bottom, from(#54b4eb), color-stop(60%, #2fa4e7), to(#1d9ce5));
    background-image: linear-gradient(#54b4eb, #2fa4e7 60%, #1d9ce5);
    background-repeat: no-repeat;
    filter: progid: DXImageTransform.Microsoft.gradient(startColorstr='#ff54b4eb', endColorstr='#ff1d9ce5', GradientType=0);
    -webkit-filter: none;
    filter: none;
    border-bottom: 1px solid #178acc;
}

.btn-success {
    background-image: -webkit-linear-gradient(#88c149, #73a839 60%, #699934);
    background-image: -o-linear-gradient(#88c149, #73a839 60%, #699934);
    background-image: -webkit-gradient(linear, left top, left bottom, from(#88c149), color-stop(60%, #73a839), to(#699934));
    background-image: linear-gradient(#88c149, #73a839 60%, #699934);
    background-repeat: no-repeat;
    filter: progid: DXImageTransform.Microsoft.gradient(startColorstr='#ff88c149', endColorstr='#ff699934', GradientType=0);
    -webkit-filter: none;
    filter: none;
    border-bottom: 1px solid #59822c;
}

.btn-info {
    background-image: -webkit-linear-gradient(#04519b, #033c73 60%, #02325f);
    background-image: -o-linear-gradient(#04519b, #033c73 60%, #02325f);
    background-image: -webkit-gradient(linear, left top, left bottom, from(#04519b), color-stop(60%, #033c73), to(#02325f));
    background-image: linear-gradient(#04519b, #033c73 60%, #02325f);
    background-repeat: no-repeat;
    filter: progid: DXImageTransform.Microsoft.gradient(startColorstr='#ff04519b', endColorstr='#ff02325f', GradientType=0);
    -webkit-filter: none;
    filter: none;
    border-bottom: 1px solid #022241;
}

.btn-warning {
    background-image: -webkit-linear-gradient(#ff6707, #dd5600 60%, #c94e00);
    background-image: -o-linear-gradient(#ff6707, #dd5600 60%, #c94e00);
    background-image: -webkit-gradient(linear, left top, left bottom, from(#ff6707), color-stop(60%, #dd5600), to(#c94e00));
    background-image: linear-gradient(#ff6707, #dd5600 60%, #c94e00);
    background-repeat: no-repeat;
    filter: progid: DXImageTransform.Microsoft.gradient(startColorstr='#ffff6707', endColorstr='#ffc94e00', GradientType=0);
    -webkit-filter: none;
    filter: none;
    border-bottom: 1px solid #aa4200;
}

.btn-danger {
    background-image: -webkit-linear-gradient(#e12b31, #c71c22 60%, #b5191f);
    background-image: -o-linear-gradient(#e12b31, #c71c22 60%, #b5191f);
    background-image: -webkit-gradient(linear, left top, left bottom, from(#e12b31), color-stop(60%, #c71c22), to(#b5191f));
    background-image: linear-gradient(#e12b31, #c71c22 60%, #b5191f);
    background-repeat: no-repeat;
    filter: progid: DXImageTransform.Microsoft.gradient(startColorstr='#ffe12b31', endColorstr='#ffb5191f', GradientType=0);
    -webkit-filter: none;
    filter: none;
    border-bottom: 1px solid #9a161a;
}




.btn:hover,
.btn:focus,
.btn.focus {
    color: #555555;
}

.btn-default {
    color: #555555;
    background-color: #ffffff;
    border-color: rgba(0, 0, 0, 0.1);
}

.btn-default:focus,
.btn-default.focus {
    color: #555555;
    background-color: #e6e6e6;
    border-color: rgba(0, 0, 0, 0.1);
}

.btn-default:hover {
    color: #555555;
    background-color: #e6e6e6;
    border-color: rgba(0, 0, 0, 0.1);
}

.btn-default:active,
.btn-default.active,
.open>.dropdown-toggle.btn-default {
    color: #555555;
    background-color: #e6e6e6;
    border-color: rgba(0, 0, 0, 0.1);
}

.btn-default:active:hover,
.btn-default.active:hover,
.open>.dropdown-toggle.btn-default:hover,
.btn-default:active:focus,
.btn-default.active:focus,
.open>.dropdown-toggle.btn-default:focus,
.btn-default:active.focus,
.btn-default.active.focus,
.open>.dropdown-toggle.btn-default.focus {
    color: #555555;
    background-color: #d4d4d4;
    border-color: rgba(0, 0, 0, 0.1);
}

.btn-default.disabled:hover,
.btn-default[disabled]:hover,
fieldset[disabled] .btn-default:hover,
.btn-default.disabled:focus,
.btn-default[disabled]:focus,
fieldset[disabled] .btn-default:focus,
.btn-default.disabled.focus,
.btn-default[disabled].focus,
fieldset[disabled] .btn-default.focus {
    background-color: #ffffff;
    border-color: rgba(0, 0, 0, 0.1);
}

.btn-default .badge {
    color: #ffffff;
    background-color: #555555;
}

.btn-primary {
    color: #ffffff;
    background-color: #2fa4e7;
    border-color: #2fa4e7;
}

.btn-primary:focus,
.btn-primary.focus {
    color: #ffffff;
    background-color: #178acc;
    border-color: #105b87;
}

.btn-primary:hover {
    color: #ffffff;
    background-color: #178acc;
    border-color: #1684c2;
}

.btn-primary:active,
.btn-primary.active,
.open>.dropdown-toggle.btn-primary {
    color: #ffffff;
    background-color: #178acc;
    border-color: #1684c2;
}

.btn-primary:active:hover,
.btn-primary.active:hover,
.open>.dropdown-toggle.btn-primary:hover,
.btn-primary:active:focus,
.btn-primary.active:focus,
.open>.dropdown-toggle.btn-primary:focus,
.btn-primary:active.focus,
.btn-primary.active.focus,
.open>.dropdown-toggle.btn-primary.focus {
    color: #ffffff;
    background-color: #1474ac;
    border-color: #105b87;
}

.btn-primary.disabled:hover,
.btn-primary[disabled]:hover,
fieldset[disabled] .btn-primary:hover,
.btn-primary.disabled:focus,
.btn-primary[disabled]:focus,
fieldset[disabled] .btn-primary:focus,
.btn-primary.disabled.focus,
.btn-primary[disabled].focus,
fieldset[disabled] .btn-primary.focus {
    background-color: #2fa4e7;
    border-color: #2fa4e7;
}

.btn-primary .badge {
    color: #2fa4e7;
    background-color: #ffffff;
}

.btn-success {
    color: #ffffff;
    background-color: #73a839;
    border-color: #73a839;
}

.btn-success:focus,
.btn-success.focus {
    color: #ffffff;
    background-color: #59822c;
    border-color: #324919;
}

.btn-success:hover {
    color: #ffffff;
    background-color: #59822c;
    border-color: #547a29;
}

.btn-success:active,
.btn-success.active,
.open>.dropdown-toggle.btn-success {
    color: #ffffff;
    background-color: #59822c;
    border-color: #547a29;
}

.btn-success:active:hover,
.btn-success.active:hover,
.open>.dropdown-toggle.btn-success:hover,
.btn-success:active:focus,
.btn-success.active:focus,
.open>.dropdown-toggle.btn-success:focus,
.btn-success:active.focus,
.btn-success.active.focus,
.open>.dropdown-toggle.btn-success.focus {
    color: #ffffff;
    background-color: #476723;
    border-color: #324919;
}

.btn-success.disabled:hover,
.btn-success[disabled]:hover,
fieldset[disabled] .btn-success:hover,
.btn-success.disabled:focus,
.btn-success[disabled]:focus,
fieldset[disabled] .btn-success:focus,
.btn-success.disabled.focus,
.btn-success[disabled].focus,
fieldset[disabled] .btn-success.focus {
    background-color: #73a839;
    border-color: #73a839;
}

.btn-success .badge {
    color: #73a839;
    background-color: #ffffff;
}

.btn-info {
    color: #ffffff;
    background-color: #033c73;
    border-color: #033c73;
}

.btn-info:focus,
.btn-info.focus {
    color: #ffffff;
    background-color: #022241;
    border-color: #000000;
}

.btn-info:hover {
    color: #ffffff;
    background-color: #022241;
    border-color: #011d37;
}

.btn-info:active,
.btn-info.active,
.open>.dropdown-toggle.btn-info {
    color: #ffffff;
    background-color: #022241;
    border-color: #011d37;
}

.btn-info:active:hover,
.btn-info.active:hover,
.open>.dropdown-toggle.btn-info:hover,
.btn-info:active:focus,
.btn-info.active:focus,
.open>.dropdown-toggle.btn-info:focus,
.btn-info:active.focus,
.btn-info.active.focus,
.open>.dropdown-toggle.btn-info.focus {
    color: #ffffff;
    background-color: #01101f;
    border-color: #000000;
}

.btn-info.disabled:hover,
.btn-info[disabled]:hover,
fieldset[disabled] .btn-info:hover,
.btn-info.disabled:focus,
.btn-info[disabled]:focus,
fieldset[disabled] .btn-info:focus,
.btn-info.disabled.focus,
.btn-info[disabled].focus,
fieldset[disabled] .btn-info.focus {
    background-color: #033c73;
    border-color: #033c73;
}

.btn-info .badge {
    color: #033c73;
    background-color: #ffffff;
}

.btn-warning {
    color: #ffffff;
    background-color: #dd5600;
    border-color: #dd5600;
}

.btn-warning:focus,
.btn-warning.focus {
    color: #ffffff;
    background-color: #aa4200;
    border-color: #5e2400;
}

.btn-warning:hover {
    color: #ffffff;
    background-color: #aa4200;
    border-color: #a03e00;
}

.btn-warning:active,
.btn-warning.active,
.open>.dropdown-toggle.btn-warning {
    color: #ffffff;
    background-color: #aa4200;
    border-color: #a03e00;
}

.btn-warning:active:hover,
.btn-warning.active:hover,
.open>.dropdown-toggle.btn-warning:hover,
.btn-warning:active:focus,
.btn-warning.active:focus,
.open>.dropdown-toggle.btn-warning:focus,
.btn-warning:active.focus,
.btn-warning.active.focus,
.open>.dropdown-toggle.btn-warning.focus {
    color: #ffffff;
    background-color: #863400;
    border-color: #5e2400;
}

.btn-warning.disabled:hover,
.btn-warning[disabled]:hover,
fieldset[disabled] .btn-warning:hover,
.btn-warning.disabled:focus,
.btn-warning[disabled]:focus,
fieldset[disabled] .btn-warning:focus,
.btn-warning.disabled.focus,
.btn-warning[disabled].focus,
fieldset[disabled] .btn-warning.focus {
    background-color: #dd5600;
    border-color: #dd5600;
}

.btn-warning .badge {
    color: #dd5600;
    background-color: #ffffff;
}

.btn-danger {
    color: #ffffff;
    background-color: #c71c22;
    border-color: #c71c22;
}

.btn-danger:focus,
.btn-danger.focus {
    color: #ffffff;
    background-color: #9a161a;
    border-color: #570c0f;
}

.btn-danger:hover {
    color: #ffffff;
    background-color: #9a161a;
    border-color: #911419;
}

.btn-danger:active,
.btn-danger.active,
.open>.dropdown-toggle.btn-danger {
    color: #ffffff;
    background-color: #9a161a;
    border-color: #911419;
}

.btn-danger:active:hover,
.btn-danger.active:hover,
.open>.dropdown-toggle.btn-danger:hover,
.btn-danger:active:focus,
.btn-danger.active:focus,
.open>.dropdown-toggle.btn-danger:focus,
.btn-danger:active.focus,
.btn-danger.active.focus,
.open>.dropdown-toggle.btn-danger.focus {
    color: #ffffff;
    background-color: #7b1115;
    border-color: #570c0f;
}

.btn-danger.disabled:hover,
.btn-danger[disabled]:hover,
fieldset[disabled] .btn-danger:hover,
.btn-danger.disabled:focus,
.btn-danger[disabled]:focus,
fieldset[disabled] .btn-danger:focus,
.btn-danger.disabled.focus,
.btn-danger[disabled].focus,
fieldset[disabled] .btn-danger.focus {
    background-color: #c71c22;
    border-color: #c71c22;
}

.btn-danger .badge {
    color: #c71c22;
    background-color: #ffffff;
}

.btn-link {
    color: #2fa4e7;
}



.btn-link:hover,
.btn-link:focus {
    color: #157ab5;
}

.btn-link[disabled]:hover,
fieldset[disabled] .btn-link:hover,
.btn-link[disabled]:focus,
fieldset[disabled] .btn-link:focus {
    color: #999999;
    text-decoration: none;
}


