output {
    display: block;
    padding-top: 9px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555555;
}

.form-control {
    color: #555555;
    background-color: #ffffff;
    border: 1px solid #cccccc;
}

.form-control::-moz-placeholder {
    color: #999999;
}

.form-control:-ms-input-placeholder {
    color: #999999;
}

.form-control::-webkit-input-placeholder {
    color: #999999;
}

.form-control[disabled],
.form-control[readonly],
fieldset[disabled] .form-control {
    background-color: #eeeeee;
}

@media screen and (-webkit-min-device-pixel-ratio: 0) {
    input[type="date"].form-control,
    input[type="time"].form-control,
    input[type="datetime-local"].form-control,
    input[type="month"].form-control {
        line-height: 38px;
    }
    input[type="date"].input-lg,
    input[type="time"].input-lg,
    input[type="datetime-local"].input-lg,
    input[type="month"].input-lg,
    .input-group-lg input[type="date"],
    .input-group-lg input[type="time"],
    .input-group-lg input[type="datetime-local"],
    .input-group-lg input[type="month"] {
        line-height: 54px;
    }
}

.form-group {
    margin-bottom: 15px;
}

.form-control-static {
    padding-top: 9px;
    padding-bottom: 9px;
}

.input-lg {
    height: 54px;
    padding: 14px 16px;
}

select.input-lg {
    height: 54px;
    line-height: 54px;
}

.form-group-lg .form-control {
    height: 54px;
    padding: 14px 16px;
    font-size: 18px;
    line-height: 1.3333333;
    border-radius: 6px;
}

.form-group-lg select.form-control {
    height: 54px;
    line-height: 54px;
}

.form-group-lg .form-control-static {
    height: 54px;
    min-height: 38px;
    padding: 15px 16px;
}

.has-feedback .form-control {
    padding-right: 47.5px;
}

.form-control-feedback {
    width: 38px;
    height: 38px;
    line-height: 38px;
}

.input-lg+.form-control-feedback,
.input-group-lg+.form-control-feedback,
.form-group-lg .form-control+.form-control-feedback {
    width: 54px;
    height: 54px;
    line-height: 54px;
}

.form-horizontal .radio,
.form-horizontal .checkbox,
.form-horizontal .radio-inline,
.form-horizontal .checkbox-inline {
    padding-top: 9px;
}

.form-horizontal .radio,
.form-horizontal .checkbox {
    min-height: 29px;
}

.form-horizontal .form-group {
    margin-left: -15px;
    margin-right: -15px;
}

@media (min-width: 768px) {
    .form-horizontal .form-group-lg .control-label {
        padding-top: 15px;
        font-size: 18px;
    }
}

input[type="submit"].btn-block,
input[type="reset"].btn-block,
input[type="button"].btn-block {
    width: 100%;
}