.modal-content {
    background-color: #ffffff;
    border: 1px solid #999999;
}

.modal-header {
    border-bottom: 1px solid #e5e5e5;
}

.modal-body {
    padding: 20px;
}

.modal-footer {
    padding: 20px;
    border-top: 1px solid #e5e5e5;
}