.navbar .navbar-nav>li>a,
.navbar-brand {
    text-shadow: 0 1px 0 rgba(0, 0, 0, 0.1);
}

@media (max-width: 767px) {
    .navbar .dropdown-header {
        color: #fff;
    }
    .navbar .dropdown-menu a {
        color: #fff;
    }
}

@media (min-width: 768px) {
    .navbar-right .dropdown-menu {
        left: auto;
        right: 0;
    }
    .navbar-right .dropdown-menu-left {
        left: 0;
        right: auto;
    }
}

.navbar-brand {
    height: 50px;
}

.navbar-toggle {
    margin-top: 8px;
    margin-bottom: 8px;
}

@media (max-width: 767px) {
    .navbar-form .form-group {
        margin-bottom: 5px;
    }
    .navbar-form .form-group:last-child {
        margin-bottom: 0;
    }
}

.navbar-btn.btn-sm {
    margin-top: 10px;
    margin-bottom: 10px;
}

.navbar-btn.btn-xs {
    margin-top: 14px;
    margin-bottom: 14px;
}

.navbar-text {
    margin-top: 15px;
    margin-bottom: 15px;
}

@media (min-width: 768px) {
    .navbar-right {
        margin-right: -15px;
    }
    .navbar-right~.navbar-right {
        margin-right: 0;
    }
}

.hide {
    display: none;
}

.show {
    display: block;
}

.navbar-default {
    background-color: #2fa4e7;
    border-color: #1995dc;
}

.navbar-default .navbar-text {
    color: #dddddd;
}

.navbar-default .navbar-nav>li>a {
    color: #ffffff;
}

.navbar-default .navbar-nav>li>a:hover,
.navbar-default .navbar-nav>li>a:focus {
    color: #ffffff;
    background-color: #178acc;
}

.navbar-default .navbar-nav>.active>a,
.navbar-default .navbar-nav>.active>a:hover,
.navbar-default .navbar-nav>.active>a:focus {
    color: #ffffff;
    background-color: #178acc;
}

.navbar-default .navbar-nav>.disabled>a,
.navbar-default .navbar-nav>.disabled>a:hover,
.navbar-default .navbar-nav>.disabled>a:focus {
    color: #dddddd;
    background-color: transparent;
}

.navbar-default .navbar-toggle {
    border-color: #178acc;
}

.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus {
    background-color: #178acc;
}

.navbar-default .navbar-toggle .icon-bar {
    background-color: #ffffff;
}

.navbar-default .navbar-collapse,
.navbar-default .navbar-form {
    border-color: #1995dc;
}

.navbar-default .navbar-nav>.open>a,
.navbar-default .navbar-nav>.open>a:hover,
.navbar-default .navbar-nav>.open>a:focus {
    background-color: #178acc;
    color: #ffffff;
}

@media (max-width: 767px) {
    .navbar-default .navbar-nav .open .dropdown-menu>li>a {
        color: #ffffff;
    }
    .navbar-default .navbar-nav .open .dropdown-menu>li>a:hover,
    .navbar-default .navbar-nav .open .dropdown-menu>li>a:focus {
        color: #ffffff;
        background-color: #178acc;
    }
    .navbar-default .navbar-nav .open .dropdown-menu>.active>a,
    .navbar-default .navbar-nav .open .dropdown-menu>.active>a:hover,
    .navbar-default .navbar-nav .open .dropdown-menu>.active>a:focus {
        color: #ffffff;
        background-color: #178acc;
    }
    .navbar-default .navbar-nav .open .dropdown-menu>.disabled>a,
    .navbar-default .navbar-nav .open .dropdown-menu>.disabled>a:hover,
    .navbar-default .navbar-nav .open .dropdown-menu>.disabled>a:focus {
        color: #dddddd;
        background-color: transparent;
    }
}

.navbar-default .navbar-link {
    color: #ffffff;
}

.navbar-default .navbar-link:hover {
    color: #ffffff;
}

.navbar-default .btn-link {
    color: #ffffff;
}

.navbar-default .btn-link:hover,
.navbar-default .btn-link:focus {
    color: #ffffff;
}

.navbar-default .btn-link[disabled]:hover,
fieldset[disabled] .navbar-default .btn-link:hover,
.navbar-default .btn-link[disabled]:focus,
fieldset[disabled] .navbar-default .btn-link:focus {
    color: #dddddd;
}

.navbar-inverse {
    background-color: #033c73;
    border-color: #022f5a;
}

.navbar-inverse .navbar-brand {
    color: #ffffff;
}

.navbar-inverse .navbar-brand:hover,
.navbar-inverse .navbar-brand:focus {
    color: #ffffff;
    background-color: none;
}

.navbar-inverse .navbar-text {
    color: #ffffff;
}

.navbar-inverse .navbar-nav>li>a {
    color: #ffffff;
}

.navbar-inverse .navbar-nav>li>a:hover,
.navbar-inverse .navbar-nav>li>a:focus {
    color: #ffffff;
    background-color: #022f5a;
}

.navbar-inverse .navbar-nav>.active>a,
.navbar-inverse .navbar-nav>.active>a:hover,
.navbar-inverse .navbar-nav>.active>a:focus {
    color: #ffffff;
    background-color: #022f5a;
}

.navbar-inverse .navbar-nav>.disabled>a,
.navbar-inverse .navbar-nav>.disabled>a:hover,
.navbar-inverse .navbar-nav>.disabled>a:focus {
    color: #cccccc;
    background-color: transparent;
}

.navbar-inverse .navbar-toggle {
    border-color: #022f5a;
}

.navbar-inverse .navbar-toggle:hover,
.navbar-inverse .navbar-toggle:focus {
    background-color: #022f5a;
}

.navbar-inverse .navbar-toggle .icon-bar {
    background-color: #ffffff;
}

.navbar-inverse .navbar-collapse,
.navbar-inverse .navbar-form {
    border-color: #022a50;
}

.navbar-inverse .navbar-nav>.open>a,
.navbar-inverse .navbar-nav>.open>a:hover,
.navbar-inverse .navbar-nav>.open>a:focus {
    background-color: #022f5a;
    color: #ffffff;
}

@media (max-width: 767px) {
    .navbar-inverse .navbar-nav .open .dropdown-menu>.dropdown-header {
        border-color: #022f5a;
    }
    .navbar-inverse .navbar-nav .open .dropdown-menu .divider {
        background-color: #022f5a;
    }
    .navbar-inverse .navbar-nav .open .dropdown-menu>li>a {
        color: #ffffff;
    }
    .navbar-inverse .navbar-nav .open .dropdown-menu>li>a:hover,
    .navbar-inverse .navbar-nav .open .dropdown-menu>li>a:focus {
        color: #ffffff;
        background-color: #022f5a;
    }
    .navbar-inverse .navbar-nav .open .dropdown-menu>.active>a,
    .navbar-inverse .navbar-nav .open .dropdown-menu>.active>a:hover,
    .navbar-inverse .navbar-nav .open .dropdown-menu>.active>a:focus {
        color: #ffffff;
        background-color: #022f5a;
    }
    .navbar-inverse .navbar-nav .open .dropdown-menu>.disabled>a,
    .navbar-inverse .navbar-nav .open .dropdown-menu>.disabled>a:hover,
    .navbar-inverse .navbar-nav .open .dropdown-menu>.disabled>a:focus {
        color: #cccccc;
        background-color: transparent;
    }
}

.navbar-inverse .navbar-link {
    color: #ffffff;
}

.navbar-inverse .navbar-link:hover {
    color: #ffffff;
}

.navbar-inverse .btn-link {
    color: #ffffff;
}

.navbar-inverse .btn-link:hover,
.navbar-inverse .btn-link:focus {
    color: #ffffff;
}

.navbar-default {
    background-image: -webkit-linear-gradient(#54b4eb, #2fa4e7 60%, #1d9ce5);
    background-image: -o-linear-gradient(#54b4eb, #2fa4e7 60%, #1d9ce5);
    background-image: -webkit-gradient(linear, left top, left bottom, from(#54b4eb), color-stop(60%, #2fa4e7), to(#1d9ce5));
    background-image: linear-gradient(#54b4eb, #2fa4e7 60%, #1d9ce5);
    background-repeat: no-repeat;
    filter: progid: DXImageTransform.Microsoft.gradient(startColorstr='#ff54b4eb', endColorstr='#ff1d9ce5', GradientType=0);
    border-bottom: 1px solid #178acc;
    -webkit-filter: none;
    filter: none;
    -webkit-box-shadow: 0 1px 10px rgba(0, 0, 0, 0.1);
    box-shadow: 0 1px 10px rgba(0, 0, 0, 0.1);
}

.navbar-default .badge {
    background-color: #fff;
    color: #2fa4e7;
}

.navbar-inverse {
    background-image: -webkit-linear-gradient(#04519b, #044687 60%, #033769);
    background-image: -o-linear-gradient(#04519b, #044687 60%, #033769);
    background-image: -webkit-gradient(linear, left top, left bottom, from(#04519b), color-stop(60%, #044687), to(#033769));
    background-image: linear-gradient(#04519b, #044687 60%, #033769);
    background-repeat: no-repeat;
    filter: progid: DXImageTransform.Microsoft.gradient(startColorstr='#ff04519b', endColorstr='#ff033769', GradientType=0);
    -webkit-filter: none;
    filter: none;
    border-bottom: 1px solid #022241;
}

.navbar-inverse .badge {
    background-color: #fff;
    color: #033c73;
}

.nav>li>a:hover,
.nav>li>a:focus {
    background-color: #eeeeee;
}

.nav>li.disabled>a {
    color: #999999;
}

.nav>li.disabled>a:hover,
.nav>li.disabled>a:focus {
    color: #999999;
}

.nav .open>a,
.nav .open>a:hover,
.nav .open>a:focus {
    background-color: #eeeeee;
    border-color: #2fa4e7;
}

.nav .nav-divider {
    background-color: #e5e5e5;
}

.nav-tabs {
    border-bottom: 1px solid #dddddd;
}

.nav-tabs>li>a:hover {
    border-color: #eeeeee #eeeeee #dddddd;
}

.nav-tabs>li.active>a,
.nav-tabs>li.active>a:hover,
.nav-tabs>li.active>a:focus {
    color: #555555;
    border: 1px solid #dddddd;
}

.nav-tabs.nav-justified>.active>a,
.nav-tabs.nav-justified>.active>a:hover,
.nav-tabs.nav-justified>.active>a:focus {
    border: 1px solid #dddddd;
}

@media (min-width: 768px) {
    .nav-tabs.nav-justified>li>a {
        border-bottom: 1px solid #dddddd;
    }
}

.nav-pills>li.active>a,
.nav-pills>li.active>a:hover,
.nav-pills>li.active>a:focus {
    color: #ffffff;
    background-color: #2fa4e7;
}

.nav-tabs-justified>.active>a,
.nav-tabs-justified>.active>a:hover,
.nav-tabs-justified>.active>a:focus {
    border: 1px solid #dddddd;
}

@media (min-width: 768px) {
    .nav-tabs-justified>li>a {
        border-bottom: 1px solid #dddddd;
    }
}