.pagination>li>a,
.pagination>li>span {
    padding: 8px 12px;
    color: #2fa4e7;
    background-color: #ffffff;
    border: 1px solid #dddddd;
}

.pagination>li>a:hover,
.pagination>li>span:hover,
.pagination>li>a:focus,
.pagination>li>span:focus {
    z-index: 2;
    color: #157ab5;
    background-color: #eeeeee;
    border-color: #dddddd;
}

.pagination>.active>a,
.pagination>.active>span,
.pagination>.active>a:hover,
.pagination>.active>span:hover,
.pagination>.active>a:focus,
.pagination>.active>span:focus {
    z-index: 3;
    color: #999999;
    background-color: #f5f5f5;
    border-color: #dddddd;
    cursor: default;
}

.pagination>.disabled>span,
.pagination>.disabled>span:hover,
.pagination>.disabled>span:focus,
.pagination>.disabled>a,
.pagination>.disabled>a:hover,
.pagination>.disabled>a:focus {
    color: #999999;
    background-color: #ffffff;
    border-color: #dddddd;
    cursor: not-allowed;
}

.pagination-lg>li>a,
.pagination-lg>li>span {
    padding: 14px 16px;
}