.panel {
    -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
}

.panel-footer {
    background-color: #f5f5f5;
    border-top: 1px solid #dddddd;
}

.panel>.panel-body+.table,
.panel>.panel-body+.table-responsive,
.panel>.table+.panel-body,
.panel>.table-responsive+.panel-body {
    border-top: 1px solid #dddddd;
}

.panel-group .panel-heading+.panel-collapse>.panel-body,
.panel-group .panel-heading+.panel-collapse>.list-group {
    border-top: 1px solid #dddddd;
}

.panel-group .panel-footer+.panel-collapse .panel-body {
    border-bottom: 1px solid #dddddd;
}

.panel-default {
    border-color: #dddddd;
}

.panel-default>.panel-heading {
    color: #555555;
    background-color: #f5f5f5;
    border-color: #dddddd;
}

.panel-default>.panel-heading+.panel-collapse>.panel-body {
    border-top-color: #dddddd;
}

.panel-default>.panel-heading .badge {
    color: #f5f5f5;
    background-color: #555555;
}

.panel-default>.panel-footer+.panel-collapse>.panel-body {
    border-bottom-color: #dddddd;
}

.panel-primary {
    border-color: #dddddd;
}

.panel-primary>.panel-heading {
    color: #ffffff;
    background-color: #2fa4e7;
    border-color: #dddddd;
}

.panel-primary>.panel-heading+.panel-collapse>.panel-body {
    border-top-color: #dddddd;
}

.panel-primary>.panel-heading .badge {
    color: #2fa4e7;
    background-color: #ffffff;
}

.panel-primary>.panel-footer+.panel-collapse>.panel-body {
    border-bottom-color: #dddddd;
}

.panel-success {
    border-color: #dddddd;
}

.panel-success>.panel-heading {
    color: #468847;
    background-color: #73a839;
    border-color: #dddddd;
}

.panel-success>.panel-heading+.panel-collapse>.panel-body {
    border-top-color: #dddddd;
}

.panel-success>.panel-heading .badge {
    color: #73a839;
    background-color: #468847;
}

.panel-success>.panel-footer+.panel-collapse>.panel-body {
    border-bottom-color: #dddddd;
}

.panel-info {
    border-color: #dddddd;
}

.panel-info>.panel-heading {
    color: #3a87ad;
    background-color: #033c73;
    border-color: #dddddd;
}

.panel-info>.panel-heading+.panel-collapse>.panel-body {
    border-top-color: #dddddd;
}

.panel-info>.panel-heading .badge {
    color: #033c73;
    background-color: #3a87ad;
}

.panel-info>.panel-footer+.panel-collapse>.panel-body {
    border-bottom-color: #dddddd;
}

.panel-warning {
    border-color: #dddddd;
}

.panel-warning>.panel-heading {
    color: #c09853;
    background-color: #dd5600;
    border-color: #dddddd;
}

.panel-warning>.panel-heading+.panel-collapse>.panel-body {
    border-top-color: #dddddd;
}

.panel-warning>.panel-heading .badge {
    color: #dd5600;
    background-color: #c09853;
}

.panel-warning>.panel-footer+.panel-collapse>.panel-body {
    border-bottom-color: #dddddd;
}

.panel-danger {
    border-color: #dddddd;
}

.panel-danger>.panel-heading {
    color: #b94a48;
    background-color: #c71c22;
    border-color: #dddddd;
}

.panel-danger>.panel-heading+.panel-collapse>.panel-body {
    border-top-color: #dddddd;
}

.panel-danger>.panel-heading .badge {
    color: #c71c22;
    background-color: #b94a48;
}

.panel-danger>.panel-footer+.panel-collapse>.panel-body {
    border-bottom-color: #dddddd;
}

.panel-primary .panel-heading,
.panel-success .panel-heading,
.panel-warning .panel-heading,
.panel-danger .panel-heading,
.panel-info .panel-heading,
.panel-primary .panel-title,
.panel-success .panel-title,
.panel-warning .panel-title,
.panel-danger .panel-title,
.panel-info .panel-title {
    color: #fff;
}