.popover {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    border: 1px solid rgba(0, 0, 0, 0.2);
}

.popover.top>.arrow {
    border-top-color: rgba(0, 0, 0, 0.25);
}

.popover.right>.arrow {
    border-right-color: rgba(0, 0, 0, 0.25);
}

.popover.bottom>.arrow {
    left: 50%;
    border-bottom-color: rgba(0, 0, 0, 0.25);
}

.popover.left>.arrow {
    border-left-color: rgba(0, 0, 0, 0.25);
}