<crnModal class="modal fade" id="forgotPasswordModal" 
buttonclose="{{'Home.view.Close' | translate}}"
    titlemodal="{{'ForgotPassword' | translate}}" 
    emailpassword="{{'ForgotPasswordEmail' | translate}}"
    save="{{'Save' | translate}}" 
    close="{{'Home.view.Close' | translate}}">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="{{attrs.buttonClose}}">
                    <span aria-hidden="true">
                        ×
                    </span>
                </button>
                <h2 class="modal-title">{{attrs.titleModal}}</h2>
            </div>
            <div class="modal-body">
                <form class="form-validation" autocomplete="off" name="forgotPasswordForm" role="form">
                    <input type="hidden" name="csrf_token" value="CIwNZNlR4XbisJF39I8yWnWX9wX4WFoz">
                    <div class="text-danger wrapper text-center" ng-show="authError">
                    </div>
                    <div class="list-group list-group-sm">
                        <div class="list-group-item">
                            <label for="forgotPasswordEmail">
                                {{attrs.emailpassword}}
                            </label>
                            <input type="email" class="form-control k-textbox" id="forgotPasswordEmail"
                                aria-label="{{attrs.emailpassword}}" ng-required="true"
                                ng-model="forgotPasswordEmail" />
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer" style="float: right;">
                <div class="component-holder ng-scope  col-md-2" data-component="crn-button" id="crn-button-save">
                    <button class="btn k-button crnCSS-default btn-primary" type="submit" ng-click="forgotPassword()"
                    ng-disabled="form.$invalid || vm.dataLoading" xattr-fullsize="" aria-label="{{attrs.save}}"
                        xattr-theme="btn-primary" xattr-disabled="">
                        <i class="glyphicon glyphicon-ok"></i>
                        <span>{{attrs.save}}</span>
                    </button>
                </div>
                <div class="component-holder ng-scope  col-md-2" data-component="crn-button" id="crn-button-close">
                    <button class="btn k-button crnCSS-default btn-danger" type="button" data-dismiss="modal" xattr-fullsize="" aria-label="{{attrs.close}}"
                        xattr-theme="btn-danger" xattr-disabled="">
                        <i class="glyphicon glyphicon-remove"></i>
                        <span>{{attrs.close}}</span>
                    </button>
                </div>
            </div>
        </div>
    </div>
</crnModal>