.breadcrumb {
    padding: 8px 15px;
    margin-bottom: 20px;
    list-style: none;
    background-color: #f8f5f0;
    border-radius: 4px;
    font-size: 11px;
    line-height: 22px;
    font-weight: 500;
    text-transform: uppercase;
    border: 1px solid #dfd7ca;
}

.breadcrumb>li {
    display: inline-block;
}

.breadcrumb>li+li:before {
    content: "/\00a0";
    padding: 0 5px;
    color: #dfd7ca;
}

.breadcrumb>.active {
    color: #98978b;
}

.breadcrumb a {
    color: #98978b;
}