.pager {
    padding-left: 0;
    margin: 20px 0;
    list-style: none;
    text-align: center;
}

.pager li {
    display: inline;
}

.pager li>a,
.pager li>span {
    display: inline-block;
    padding: 5px 14px;
    background-color: #eeeeee;
    border: 1px solid #e2e2e2;
    border-radius: 15px;
}

.pager li>a:hover,
.pager li>a:focus {
    text-decoration: none;
    background-color: #eeeeee;
}

.pager .next>a,
.pager .next>span {
    float: right;
}

.pager .previous>a,
.pager .previous>span {
    float: left;
}

.pager .disabled>a,
.pager .disabled>a:hover,
.pager .disabled>a:focus,
.pager .disabled>span {
    color: #999999;
    background-color: #eeeeee;
    cursor: not-allowed;
}

.pager>li>a,
.pager>li>span {
    position: relative;
    top: 0;
    border-width: 0 1px 4px 1px;
    color: #555555;
    font-size: 12px;
    font-weight: bold;
    text-transform: uppercase;
}

.pager>li>a:hover,
.pager>li>span:hover {
    top: 1px;
    border-bottom-width: 3px;
}

.pager>li>a:active,
.pager>li>span:active {
    top: 2px;
    border-bottom-width: 2px;
}

.pager>.disabled>a:hover,
.pager>.disabled>span:hover {
    top: 0;
    border-width: 0 1px 4px 1px;
}

.pager>.disabled>a:active,
.pager>.disabled>span:active {
    top: 0;
    border-width: 0 1px 4px 1px;
}

.pager>li>a,
.pager>li>span,
.pager>.disabled>a,
.pager>.disabled>span,
.pager>li>a:hover,
.pager>li>span:hover,
.pager>.disabled>a:hover,
.pager>.disabled>span:hover,
.pager>li>a:active,
.pager>li>span:active,
.pager>.disabled>a:active,
.pager>.disabled>span:active {
    border-left-width: 2px;
    border-right-width: 2px;
}