.pager {
    padding-left: 0;
    margin: 20px 0;
    list-style: none;
    text-align: center;
    font-size: 11px;
    line-height: 22px;
    font-weight: 500;
    text-transform: uppercase;
}

.pager li>a {
    color: #98978b;
}

.pager li {
    display: inline;
}

.pager li>a,
.pager li>span {
    display: inline-block;
    padding: 5px 14px;
    background-color: #f8f5f0;
    border: 1px solid #dfd7ca;
    border-radius: 15px;
}

.pager li>a:hover,
.pager li>a:focus {
    text-decoration: none;
    background-color: #dfd7ca;
}

.pager .next>a,
.pager .next>span {
    float: right;
}

.pager .previous>a,
.pager .previous>span {
    float: left;
}

.pager .disabled>a,
.pager .disabled>a:hover,
.pager .disabled>a:focus,
.pager .disabled>span {
    color: #dfd7ca;
    background-color: #f8f5f0;
    cursor: not-allowed;
}