.pagination {
    display: inline-block;
    padding-left: 0;
    margin: 20px 0;
    border-radius: 4px;
}

.pagination>li {
    display: inline;
}

.pagination>li>a,
.pagination>li>span {
    position: relative;
    float: left;
    padding: 7px 12px;
    line-height: 1.42857143;
    text-decoration: none;
    color: #555555;
    background-color: #eeeeee;
    border: 1px solid #e2e2e2;
    margin-left: -1px;
}

.pagination>li:first-child>a,
.pagination>li:first-child>span {
    margin-left: 0;
    border-bottom-left-radius: 4px;
    border-top-left-radius: 4px;
}

.pagination>li:last-child>a,
.pagination>li:last-child>span {
    border-bottom-right-radius: 4px;
    border-top-right-radius: 4px;
}

.pagination>li>a:hover,
.pagination>li>span:hover,
.pagination>li>a:focus,
.pagination>li>span:focus {
    z-index: 2;
    color: #555555;
    background-color: #eeeeee;
    border-color: #e2e2e2;
}

.pagination>.active>a,
.pagination>.active>span,
.pagination>.active>a:hover,
.pagination>.active>span:hover,
.pagination>.active>a:focus,
.pagination>.active>span:focus {
    z-index: 3;
    cursor: default;
}

.pagination>.disabled>span,
.pagination>.disabled>span:hover,
.pagination>.disabled>span:focus,
.pagination>.disabled>a,
.pagination>.disabled>a:hover,
.pagination>.disabled>a:focus {
    cursor: not-allowed;
}

.pagination-lg>li>a,
.pagination-lg>li>span {
    padding: 13px 16px;
    font-size: 18px;
    line-height: 1.3333333;
}

.pagination-lg>li:first-child>a,
.pagination-lg>li:first-child>span {
    border-bottom-left-radius: 5px;
    border-top-left-radius: 5px;
}

.pagination-lg>li:last-child>a,
.pagination-lg>li:last-child>span {
    border-bottom-right-radius: 5px;
    border-top-right-radius: 5px;
}

.pagination-sm>li>a,
.pagination-sm>li>span {
    padding: 4px 10px;
    font-size: 12px;
    line-height: 1.5;
}

.pagination-sm>li:first-child>a,
.pagination-sm>li:first-child>span {
    border-bottom-left-radius: 2px;
    border-top-left-radius: 2px;
}

.pagination-sm>li:last-child>a,
.pagination-sm>li:last-child>span {
    border-bottom-right-radius: 2px;
    border-top-right-radius: 2px;
}

.pagination>li>a,
.pagination>li>span {
    position: relative;
    top: 0;
    border-width: 0 1px 4px 1px;
    color: #555555;
    font-size: 12px;
    font-weight: bold;
    text-transform: uppercase;
}

.pagination>li>a:hover,
.pagination>li>span:hover {
    top: 1px;
    border-bottom-width: 3px;
}

.pagination>li>a:active,
.pagination>li>span:active {
    top: 2px;
    border-bottom-width: 2px;
}

.pagination>.disabled>a:hover .pagination>.disabled>span:hover {
    top: 0;
    border-width: 0 1px 4px 1px;
}

.pagination>.disabled>a:active .pagination>.disabled>span:active {
    top: 0;
    border-width: 0 1px 4px 1px;
}