.thumbnail {
    display: block;
    padding: 4px;
    margin-bottom: 20px;
    line-height: 1.42857143;
    background-color: #f8f5f0;
    border: 1px solid #dfd7ca;
    border-radius: 4px;
    -webkit-transition: border 0.2s ease-in-out;
    -o-transition: border 0.2s ease-in-out;
    transition: border 0.2s ease-in-out;
}

.thumbnail>img,
.thumbnail a>img {
    margin-left: auto;
    margin-right: auto;
}

a.thumbnail:hover,
a.thumbnail:focus,
a.thumbnail.active {
    border-color: #93c54b;
}

.thumbnail .caption {
    padding: 9px;
    color: #3e3f3a;
}