.alert {
    position: relative;
    padding: 0.75rem 1.25rem;
    margin-bottom: 1rem;
    border: 1px solid transparent;
    border-radius: 0.25rem;
}

.alert-heading {
    color: inherit;
}

.alert-link {
    font-weight: 700;
}

.alert-dismissible {
    padding-right: 4rem;
}

.alert-dismissible .close {
    position: absolute;
    top: 0;
    right: 0;
    padding: 0.75rem 1.25rem;
    color: inherit;
}

.alert-primary {
    color: #7a3634;
    background-color: #fbe1e0;
    border-color: #f9d5d4;
}

.alert-primary hr {
    border-top-color: #f6bfbe;
}

.alert-primary .alert-link {
    color: #562625;
}

.alert-secondary {
    color: #585858;
    background-color: #eeeeee;
    border-color: #e7e7e7;
}

.alert-secondary hr {
    border-top-color: #dadada;
}

.alert-secondary .alert-link {
    color: #3f3e3e;
}

.alert-success {
    color: #125d28;
    background-color: #d3f0db;
    border-color: #c1e9cd;
}

.alert-success hr {
    border-top-color: #aee2be;
}

.alert-success .alert-link {
    color: #0a3216;
}

.alert-info {
    color: #1b3550;
    background-color: #d6e0eb;
    border-color: #c6d4e2;
}

.alert-info hr {
    border-top-color: #b5c7d9;
}

.alert-info .alert-link {
    color: #0e1c2a;
}

.alert-warning {
    color: #7f7813;
    background-color: #fdfad3;
    border-color: #fcf8c2;
}

.alert-warning hr {
    border-top-color: #fbf5aa;
}

.alert-warning .alert-link {
    color: #534e0c;
}

.alert-danger {
    color: #7f3f00;
    background-color: #fde4cc;
    border-color: #fcdab8;
}

.alert-danger hr {
    border-top-color: #fbcda0;
}

.alert-danger .alert-link {
    color: #4c2600;
}

.alert-light {
    color: #818182;
    background-color: #fefefe;
    border-color: #fdfdfe;
}

.alert-light hr {
    border-top-color: #ececf6;
}

.alert-light .alert-link {
    color: #686868;
}

.alert-dark {
    color: #121212;
    background-color: lightgray;
    border-color: #c1c1c1;
}

.alert-dark hr {
    border-top-color: #b4b4b4;
}

.alert-dark .alert-link {
    color: black;
}