.align-items-start {
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
}

.align-items-end {
    -webkit-box-align: end;
    -ms-flex-align: end;
    align-items: flex-end;
}

.align-items-center {
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.align-items-baseline {
    -webkit-box-align: baseline;
    -ms-flex-align: baseline;
    align-items: baseline;
}

.align-items-stretch {
    -webkit-box-align: stretch;
    -ms-flex-align: stretch;
    align-items: stretch;
}

.align-content-start {
    -ms-flex-line-pack: start;
    align-content: flex-start;
}

.align-content-end {
    -ms-flex-line-pack: end;
    align-content: flex-end;
}

.align-content-center {
    -ms-flex-line-pack: center;
    align-content: center;
}

.align-content-between {
    -ms-flex-line-pack: justify;
    align-content: space-between;
}

.align-content-around {
    -ms-flex-line-pack: distribute;
    align-content: space-around;
}

.align-content-stretch {
    -ms-flex-line-pack: stretch;
    align-content: stretch;
}

.align-self-auto {
    -ms-flex-item-align: auto;
    align-self: auto;
}

.align-self-start {
    -ms-flex-item-align: start;
    align-self: flex-start;
}

.align-self-end {
    -ms-flex-item-align: end;
    align-self: flex-end;
}

.align-self-center {
    -ms-flex-item-align: center;
    align-self: center;
}

.align-self-baseline {
    -ms-flex-item-align: baseline;
    align-self: baseline;
}

.align-self-stretch {
    -ms-flex-item-align: stretch;
    align-self: stretch;
}

@media (min-width: 576px) {
    .align-items-sm-start {
        -webkit-box-align: start;
        -ms-flex-align: start;
        align-items: flex-start;
    }
    .align-items-sm-end {
        -webkit-box-align: end;
        -ms-flex-align: end;
        align-items: flex-end;
    }
    .align-items-sm-center {
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
    }
    .align-items-sm-baseline {
        -webkit-box-align: baseline;
        -ms-flex-align: baseline;
        align-items: baseline;
    }
    .align-items-sm-stretch {
        -webkit-box-align: stretch;
        -ms-flex-align: stretch;
        align-items: stretch;
    }
    .align-content-sm-start {
        -ms-flex-line-pack: start;
        align-content: flex-start;
    }
    .align-content-sm-end {
        -ms-flex-line-pack: end;
        align-content: flex-end;
    }
    .align-content-sm-center {
        -ms-flex-line-pack: center;
        align-content: center;
    }
    .align-content-sm-between {
        -ms-flex-line-pack: justify;
        align-content: space-between;
    }
    .align-content-sm-around {
        -ms-flex-line-pack: distribute;
        align-content: space-around;
    }
    .align-content-sm-stretch {
        -ms-flex-line-pack: stretch;
        align-content: stretch;
    }
    .align-self-sm-auto {
        -ms-flex-item-align: auto;
        align-self: auto;
    }
    .align-self-sm-start {
        -ms-flex-item-align: start;
        align-self: flex-start;
    }
    .align-self-sm-end {
        -ms-flex-item-align: end;
        align-self: flex-end;
    }
    .align-self-sm-center {
        -ms-flex-item-align: center;
        align-self: center;
    }
    .align-self-sm-baseline {
        -ms-flex-item-align: baseline;
        align-self: baseline;
    }
    .align-self-sm-stretch {
        -ms-flex-item-align: stretch;
        align-self: stretch;
    }
}

@media (min-width: 768px) {
    .align-items-md-start {
        -webkit-box-align: start;
        -ms-flex-align: start;
        align-items: flex-start;
    }
    .align-items-md-end {
        -webkit-box-align: end;
        -ms-flex-align: end;
        align-items: flex-end;
    }
    .align-items-md-center {
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
    }
    .align-items-md-baseline {
        -webkit-box-align: baseline;
        -ms-flex-align: baseline;
        align-items: baseline;
    }
    .align-items-md-stretch {
        -webkit-box-align: stretch;
        -ms-flex-align: stretch;
        align-items: stretch;
    }
    .align-content-md-start {
        -ms-flex-line-pack: start;
        align-content: flex-start;
    }
    .align-content-md-end {
        -ms-flex-line-pack: end;
        align-content: flex-end;
    }
    .align-content-md-center {
        -ms-flex-line-pack: center;
        align-content: center;
    }
    .align-content-md-between {
        -ms-flex-line-pack: justify;
        align-content: space-between;
    }
    .align-content-md-around {
        -ms-flex-line-pack: distribute;
        align-content: space-around;
    }
    .align-content-md-stretch {
        -ms-flex-line-pack: stretch;
        align-content: stretch;
    }
    .align-self-md-auto {
        -ms-flex-item-align: auto;
        align-self: auto;
    }
    .align-self-md-start {
        -ms-flex-item-align: start;
        align-self: flex-start;
    }
    .align-self-md-end {
        -ms-flex-item-align: end;
        align-self: flex-end;
    }
    .align-self-md-center {
        -ms-flex-item-align: center;
        align-self: center;
    }
    .align-self-md-baseline {
        -ms-flex-item-align: baseline;
        align-self: baseline;
    }
    .align-self-md-stretch {
        -ms-flex-item-align: stretch;
        align-self: stretch;
    }
}

@media (min-width: 992px) {
    .align-items-lg-start {
        -webkit-box-align: start;
        -ms-flex-align: start;
        align-items: flex-start;
    }
    .align-items-lg-end {
        -webkit-box-align: end;
        -ms-flex-align: end;
        align-items: flex-end;
    }
    .align-items-lg-center {
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
    }
    .align-items-lg-baseline {
        -webkit-box-align: baseline;
        -ms-flex-align: baseline;
        align-items: baseline;
    }
    .align-items-lg-stretch {
        -webkit-box-align: stretch;
        -ms-flex-align: stretch;
        align-items: stretch;
    }
    .align-content-lg-start {
        -ms-flex-line-pack: start;
        align-content: flex-start;
    }
    .align-content-lg-end {
        -ms-flex-line-pack: end;
        align-content: flex-end;
    }
    .align-content-lg-center {
        -ms-flex-line-pack: center;
        align-content: center;
    }
    .align-content-lg-between {
        -ms-flex-line-pack: justify;
        align-content: space-between;
    }
    .align-content-lg-around {
        -ms-flex-line-pack: distribute;
        align-content: space-around;
    }
    .align-content-lg-stretch {
        -ms-flex-line-pack: stretch;
        align-content: stretch;
    }
    .align-self-lg-auto {
        -ms-flex-item-align: auto;
        align-self: auto;
    }
    .align-self-lg-start {
        -ms-flex-item-align: start;
        align-self: flex-start;
    }
    .align-self-lg-end {
        -ms-flex-item-align: end;
        align-self: flex-end;
    }
    .align-self-lg-center {
        -ms-flex-item-align: center;
        align-self: center;
    }
    .align-self-lg-baseline {
        -ms-flex-item-align: baseline;
        align-self: baseline;
    }
    .align-self-lg-stretch {
        -ms-flex-item-align: stretch;
        align-self: stretch;
    }
}

@media (min-width: 1200px) {
    .align-items-xl-start {
        -webkit-box-align: start;
        -ms-flex-align: start;
        align-items: flex-start;
    }
    .align-items-xl-end {
        -webkit-box-align: end;
        -ms-flex-align: end;
        align-items: flex-end;
    }
    .align-items-xl-center {
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
    }
    .align-items-xl-baseline {
        -webkit-box-align: baseline;
        -ms-flex-align: baseline;
        align-items: baseline;
    }
    .align-items-xl-stretch {
        -webkit-box-align: stretch;
        -ms-flex-align: stretch;
        align-items: stretch;
    }
    .align-content-xl-start {
        -ms-flex-line-pack: start;
        align-content: flex-start;
    }
    .align-content-xl-end {
        -ms-flex-line-pack: end;
        align-content: flex-end;
    }
    .align-content-xl-center {
        -ms-flex-line-pack: center;
        align-content: center;
    }
    .align-content-xl-between {
        -ms-flex-line-pack: justify;
        align-content: space-between;
    }
    .align-content-xl-around {
        -ms-flex-line-pack: distribute;
        align-content: space-around;
    }
    .align-content-xl-stretch {
        -ms-flex-line-pack: stretch;
        align-content: stretch;
    }
    .align-self-xl-auto {
        -ms-flex-item-align: auto;
        align-self: auto;
    }
    .align-self-xl-start {
        -ms-flex-item-align: start;
        align-self: flex-start;
    }
    .align-self-xl-end {
        -ms-flex-item-align: end;
        align-self: flex-end;
    }
    .align-self-xl-center {
        -ms-flex-item-align: center;
        align-self: center;
    }
    .align-self-xl-baseline {
        -ms-flex-item-align: baseline;
        align-self: baseline;
    }
    .align-self-xl-stretch {
        -ms-flex-item-align: stretch;
        align-self: stretch;
    }
}