.badge {
    display: inline-block;
    padding: 0.25em 0.4em;
    font-size: 75%;
    font-weight: 700;
    line-height: 1;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    border-radius: 0.25rem;
}

.badge:empty {
    display: none;
}

.btn .badge {
    position: relative;
    top: -1px;
}

.badge-pill {
    padding-right: 0.6em;
    padding-left: 0.6em;
    border-radius: 10rem;
}

.badge-primary {
    color: #fff;
    background-color: #EB6864;
}

.badge-primary[href]:hover,
.badge-primary[href]:focus {
    color: #fff;
    text-decoration: none;
    background-color: #e53c37;
}

.badge-secondary {
    color: #222;
    background-color: #aaa;
}

.badge-secondary[href]:hover,
.badge-secondary[href]:focus {
    color: #222;
    text-decoration: none;
    background-color: #919090;
}

.badge-success {
    color: #fff;
    background-color: #22B24C;
}

.badge-success[href]:hover,
.badge-success[href]:focus {
    color: #fff;
    text-decoration: none;
    background-color: #1a873a;
}

.badge-info {
    color: #fff;
    background-color: #369;
}

.badge-info[href]:hover,
.badge-info[href]:focus {
    color: #fff;
    text-decoration: none;
    background-color: #264d73;
}

.badge-warning {
    color: #222;
    background-color: #F5E625;
}

.badge-warning[href]:hover,
.badge-warning[href]:focus {
    color: #222;
    text-decoration: none;
    background-color: #ddce0a;
}

.badge-danger {
    color: #fff;
    background-color: #F57A00;
}

.badge-danger[href]:hover,
.badge-danger[href]:focus {
    color: #fff;
    text-decoration: none;
    background-color: #c26100;
}

.badge-light {
    color: #222;
    background-color: #f8f9fa;
}

.badge-light[href]:hover,
.badge-light[href]:focus {
    color: #222;
    text-decoration: none;
    background-color: #dae0e5;
}

.badge-dark {
    color: #fff;
    background-color: #222;
}

.badge-dark[href]:hover,
.badge-dark[href]:focus {
    color: #fff;
    text-decoration: none;
    background-color: #090808;
}