.flex-row {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
}

.flex-column {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
}

.flex-row-reverse {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
    -ms-flex-direction: row-reverse;
    flex-direction: row-reverse;
}

.flex-column-reverse {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
    -ms-flex-direction: column-reverse;
    flex-direction: column-reverse;
}

.flex-wrap {
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}

.flex-nowrap {
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
}

.flex-wrap-reverse {
    -ms-flex-wrap: wrap-reverse;
    flex-wrap: wrap-reverse;
}

.flex-fill {
    -webkit-box-flex: 1;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
}

.flex-grow-0 {
    -webkit-box-flex: 0;
    -ms-flex-positive: 0;
    flex-grow: 0;
}

.flex-grow-1 {
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
}

.flex-shrink-0 {
    -ms-flex-negative: 0;
    flex-shrink: 0;
}

.flex-shrink-1 {
    -ms-flex-negative: 1;
    flex-shrink: 1;
}

@media (min-width: 576px) {
    .flex-sm-row {
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
        -ms-flex-direction: row;
        flex-direction: row;
    }
    .flex-sm-column {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
    }
    .flex-sm-row-reverse {
        -webkit-box-orient: horizontal;
        -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
        flex-direction: row-reverse;
    }
    .flex-sm-column-reverse {
        -webkit-box-orient: vertical;
        -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
        flex-direction: column-reverse;
    }
    .flex-sm-wrap {
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    }
    .flex-sm-nowrap {
        -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    }
    .flex-sm-wrap-reverse {
        -ms-flex-wrap: wrap-reverse;
        flex-wrap: wrap-reverse;
    }
    .flex-sm-fill {
        -webkit-box-flex: 1;
        -ms-flex: 1 1 auto;
        flex: 1 1 auto;
    }
    .flex-sm-grow-0 {
        -webkit-box-flex: 0;
        -ms-flex-positive: 0;
        flex-grow: 0;
    }
    .flex-sm-grow-1 {
        -webkit-box-flex: 1;
        -ms-flex-positive: 1;
        flex-grow: 1;
    }
    .flex-sm-shrink-0 {
        -ms-flex-negative: 0;
        flex-shrink: 0;
    }
    .flex-sm-shrink-1 {
        -ms-flex-negative: 1;
        flex-shrink: 1;
    }
}

@media (min-width: 768px) {
    .flex-md-row {
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
        -ms-flex-direction: row;
        flex-direction: row;
    }
    .flex-md-column {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
    }
    .flex-md-row-reverse {
        -webkit-box-orient: horizontal;
        -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
        flex-direction: row-reverse;
    }
    .flex-md-column-reverse {
        -webkit-box-orient: vertical;
        -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
        flex-direction: column-reverse;
    }
    .flex-md-wrap {
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    }
    .flex-md-nowrap {
        -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    }
    .flex-md-wrap-reverse {
        -ms-flex-wrap: wrap-reverse;
        flex-wrap: wrap-reverse;
    }
    .flex-md-fill {
        -webkit-box-flex: 1;
        -ms-flex: 1 1 auto;
        flex: 1 1 auto;
    }
    .flex-md-grow-0 {
        -webkit-box-flex: 0;
        -ms-flex-positive: 0;
        flex-grow: 0;
    }
    .flex-md-grow-1 {
        -webkit-box-flex: 1;
        -ms-flex-positive: 1;
        flex-grow: 1;
    }
    .flex-md-shrink-0 {
        -ms-flex-negative: 0;
        flex-shrink: 0;
    }
    .flex-md-shrink-1 {
        -ms-flex-negative: 1;
        flex-shrink: 1;
    }
}

@media (min-width: 992px) {
    .flex-lg-row {
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
        -ms-flex-direction: row;
        flex-direction: row;
    }
    .flex-lg-column {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
    }
    .flex-lg-row-reverse {
        -webkit-box-orient: horizontal;
        -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
        flex-direction: row-reverse;
    }
    .flex-lg-column-reverse {
        -webkit-box-orient: vertical;
        -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
        flex-direction: column-reverse;
    }
    .flex-lg-wrap {
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    }
    .flex-lg-nowrap {
        -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    }
    .flex-lg-wrap-reverse {
        -ms-flex-wrap: wrap-reverse;
        flex-wrap: wrap-reverse;
    }
    .flex-lg-fill {
        -webkit-box-flex: 1;
        -ms-flex: 1 1 auto;
        flex: 1 1 auto;
    }
    .flex-lg-grow-0 {
        -webkit-box-flex: 0;
        -ms-flex-positive: 0;
        flex-grow: 0;
    }
    .flex-lg-grow-1 {
        -webkit-box-flex: 1;
        -ms-flex-positive: 1;
        flex-grow: 1;
    }
    .flex-lg-shrink-0 {
        -ms-flex-negative: 0;
        flex-shrink: 0;
    }
    .flex-lg-shrink-1 {
        -ms-flex-negative: 1;
        flex-shrink: 1;
    }
}

@media (min-width: 1200px) {
    .flex-xl-row {
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
        -ms-flex-direction: row;
        flex-direction: row;
    }
    .flex-xl-column {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
    }
    .flex-xl-row-reverse {
        -webkit-box-orient: horizontal;
        -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
        flex-direction: row-reverse;
    }
    .flex-xl-column-reverse {
        -webkit-box-orient: vertical;
        -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
        flex-direction: column-reverse;
    }
    .flex-xl-wrap {
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    }
    .flex-xl-nowrap {
        -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    }
    .flex-xl-wrap-reverse {
        -ms-flex-wrap: wrap-reverse;
        flex-wrap: wrap-reverse;
    }
    .flex-xl-fill {
        -webkit-box-flex: 1;
        -ms-flex: 1 1 auto;
        flex: 1 1 auto;
    }
    .flex-xl-grow-0 {
        -webkit-box-flex: 0;
        -ms-flex-positive: 0;
        flex-grow: 0;
    }
    .flex-xl-grow-1 {
        -webkit-box-flex: 1;
        -ms-flex-positive: 1;
        flex-grow: 1;
    }
    .flex-xl-shrink-0 {
        -ms-flex-negative: 0;
        flex-shrink: 0;
    }
    .flex-xl-shrink-1 {
        -ms-flex-negative: 1;
        flex-shrink: 1;
    }
}