.list-group {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    padding-left: 0;
    margin-bottom: 0;
}

.list-group-item-action {
    width: 100%;
    color: #495057;
    text-align: inherit;
}

.list-group-item-action:hover,
.list-group-item-action:focus {
    color: #495057;
    text-decoration: none;
    background-color: #f8f9fa;
}

.list-group-item-action:active {
    color: #222;
    background-color: #eee;
}

.list-group-item {
    position: relative;
    display: block;
    padding: 0.75rem 1.25rem;
    margin-bottom: -1px;
    background-color: #fff;
    border: 1px solid rgba(0, 0, 0, 0.125);
}

.list-group-item:first-child {
    border-top-left-radius: 0.25rem;
    border-top-right-radius: 0.25rem;
}

.list-group-item:last-child {
    margin-bottom: 0;
    border-bottom-right-radius: 0.25rem;
    border-bottom-left-radius: 0.25rem;
}

.list-group-item:hover,
.list-group-item:focus {
    z-index: 1;
    text-decoration: none;
}

.list-group-item.disabled,
.list-group-item:disabled {
    color: #777;
    background-color: #fff;
}

.list-group-item.active {
    z-index: 2;
    color: #fff;
    background-color: #EB6864;
    border-color: #EB6864;
}

.list-group-flush .list-group-item {
    border-right: 0;
    border-left: 0;
    border-radius: 0;
}

.list-group-flush:first-child .list-group-item:first-child {
    border-top: 0;
}

.list-group-flush:last-child .list-group-item:last-child {
    border-bottom: 0;
}

.list-group-item-primary {
    color: #7a3634;
    background-color: #f9d5d4;
}

.list-group-item-primary.list-group-item-action:hover,
.list-group-item-primary.list-group-item-action:focus {
    color: #7a3634;
    background-color: #f6bfbe;
}

.list-group-item-primary.list-group-item-action.active {
    color: #fff;
    background-color: #7a3634;
    border-color: #7a3634;
}

.list-group-item-secondary {
    color: #585858;
    background-color: #e7e7e7;
}

.list-group-item-secondary.list-group-item-action:hover,
.list-group-item-secondary.list-group-item-action:focus {
    color: #585858;
    background-color: #dadada;
}

.list-group-item-secondary.list-group-item-action.active {
    color: #fff;
    background-color: #585858;
    border-color: #585858;
}

.list-group-item-success {
    color: #125d28;
    background-color: #c1e9cd;
}

.list-group-item-success.list-group-item-action:hover,
.list-group-item-success.list-group-item-action:focus {
    color: #125d28;
    background-color: #aee2be;
}

.list-group-item-success.list-group-item-action.active {
    color: #fff;
    background-color: #125d28;
    border-color: #125d28;
}

.list-group-item-info {
    color: #1b3550;
    background-color: #c6d4e2;
}

.list-group-item-info.list-group-item-action:hover,
.list-group-item-info.list-group-item-action:focus {
    color: #1b3550;
    background-color: #b5c7d9;
}

.list-group-item-info.list-group-item-action.active {
    color: #fff;
    background-color: #1b3550;
    border-color: #1b3550;
}

.list-group-item-warning {
    color: #7f7813;
    background-color: #fcf8c2;
}

.list-group-item-warning.list-group-item-action:hover,
.list-group-item-warning.list-group-item-action:focus {
    color: #7f7813;
    background-color: #fbf5aa;
}

.list-group-item-warning.list-group-item-action.active {
    color: #fff;
    background-color: #7f7813;
    border-color: #7f7813;
}

.list-group-item-danger {
    color: #7f3f00;
    background-color: #fcdab8;
}

.list-group-item-danger.list-group-item-action:hover,
.list-group-item-danger.list-group-item-action:focus {
    color: #7f3f00;
    background-color: #fbcda0;
}

.list-group-item-danger.list-group-item-action.active {
    color: #fff;
    background-color: #7f3f00;
    border-color: #7f3f00;
}

.list-group-item-light {
    color: #818182;
    background-color: #fdfdfe;
}

.list-group-item-light.list-group-item-action:hover,
.list-group-item-light.list-group-item-action:focus {
    color: #818182;
    background-color: #ececf6;
}

.list-group-item-light.list-group-item-action.active {
    color: #fff;
    background-color: #818182;
    border-color: #818182;
}

.list-group-item-dark {
    color: #121212;
    background-color: #c1c1c1;
}

.list-group-item-dark.list-group-item-action:hover,
.list-group-item-dark.list-group-item-action:focus {
    color: #121212;
    background-color: #b4b4b4;
}

.list-group-item-dark.list-group-item-action.active {
    color: #fff;
    background-color: #121212;
    border-color: #121212;
}