.m-0 {
    margin: 0;
}

.mt-0,
.my-0 {
    margin-top: 0;
}

.mr-0,
.mx-0 {
    margin-right: 0;
}

.mb-0,
.my-0 {
    margin-bottom: 0;
}

.ml-0,
.mx-0 {
    margin-left: 0;
}

.m-1 {
    margin: 0.25rem;
}

.mt-1,
.my-1 {
    margin-top: 0.25rem;
}

.mr-1,
.mx-1 {
    margin-right: 0.25rem;
}

.mb-1,
.my-1 {
    margin-bottom: 0.25rem;
}

.ml-1,
.mx-1 {
    margin-left: 0.25rem;
}

.m-2 {
    margin: 0.5rem;
}

.mt-2,
.my-2 {
    margin-top: 0.5rem;
}

.mr-2,
.mx-2 {
    margin-right: 0.5rem;
}

.mb-2,
.my-2 {
    margin-bottom: 0.5rem;
}

.ml-2,
.mx-2 {
    margin-left: 0.5rem;
}

.m-3 {
    margin: 1rem;
}

.mt-3,
.my-3 {
    margin-top: 1rem;
}

.mr-3,
.mx-3 {
    margin-right: 1rem;
}

.mb-3,
.my-3 {
    margin-bottom: 1rem;
}

.ml-3,
.mx-3 {
    margin-left: 1rem;
}

.m-4 {
    margin: 1.5rem;
}

.mt-4,
.my-4 {
    margin-top: 1.5rem;
}

.mr-4,
.mx-4 {
    margin-right: 1.5rem;
}

.mb-4,
.my-4 {
    margin-bottom: 1.5rem;
}

.ml-4,
.mx-4 {
    margin-left: 1.5rem;
}

.m-5 {
    margin: 3rem;
}

.mt-5,
.my-5 {
    margin-top: 3rem;
}

.mr-5,
.mx-5 {
    margin-right: 3rem;
}

.mb-5,
.my-5 {
    margin-bottom: 3rem;
}

.ml-5,
.mx-5 {
    margin-left: 3rem;
}

.m-auto {
    margin: auto;
}

.mt-auto,
.my-auto {
    margin-top: auto;
}

.mr-auto,
.mx-auto {
    margin-right: auto;
}

.mb-auto,
.my-auto {
    margin-bottom: auto;
}

.ml-auto,
.mx-auto {
    margin-left: auto;
}

@media (min-width: 576px) {
    .m-sm-0 {
        margin: 0;
    }
    .mt-sm-0,
    .my-sm-0 {
        margin-top: 0;
    }
    .mr-sm-0,
    .mx-sm-0 {
        margin-right: 0;
    }
    .mb-sm-0,
    .my-sm-0 {
        margin-bottom: 0;
    }
    .ml-sm-0,
    .mx-sm-0 {
        margin-left: 0;
    }
    .m-sm-1 {
        margin: 0.25rem;
    }
    .mt-sm-1,
    .my-sm-1 {
        margin-top: 0.25rem;
    }
    .mr-sm-1,
    .mx-sm-1 {
        margin-right: 0.25rem;
    }
    .mb-sm-1,
    .my-sm-1 {
        margin-bottom: 0.25rem;
    }
    .ml-sm-1,
    .mx-sm-1 {
        margin-left: 0.25rem;
    }
    .m-sm-2 {
        margin: 0.5rem;
    }
    .mt-sm-2,
    .my-sm-2 {
        margin-top: 0.5rem;
    }
    .mr-sm-2,
    .mx-sm-2 {
        margin-right: 0.5rem;
    }
    .mb-sm-2,
    .my-sm-2 {
        margin-bottom: 0.5rem;
    }
    .ml-sm-2,
    .mx-sm-2 {
        margin-left: 0.5rem;
    }
    .m-sm-3 {
        margin: 1rem;
    }
    .mt-sm-3,
    .my-sm-3 {
        margin-top: 1rem;
    }
    .mr-sm-3,
    .mx-sm-3 {
        margin-right: 1rem;
    }
    .mb-sm-3,
    .my-sm-3 {
        margin-bottom: 1rem;
    }
    .ml-sm-3,
    .mx-sm-3 {
        margin-left: 1rem;
    }
    .m-sm-4 {
        margin: 1.5rem;
    }
    .mt-sm-4,
    .my-sm-4 {
        margin-top: 1.5rem;
    }
    .mr-sm-4,
    .mx-sm-4 {
        margin-right: 1.5rem;
    }
    .mb-sm-4,
    .my-sm-4 {
        margin-bottom: 1.5rem;
    }
    .ml-sm-4,
    .mx-sm-4 {
        margin-left: 1.5rem;
    }
    .m-sm-5 {
        margin: 3rem;
    }
    .mt-sm-5,
    .my-sm-5 {
        margin-top: 3rem;
    }
    .mr-sm-5,
    .mx-sm-5 {
        margin-right: 3rem;
    }
    .mb-sm-5,
    .my-sm-5 {
        margin-bottom: 3rem;
    }
    .ml-sm-5,
    .mx-sm-5 {
        margin-left: 3rem;
    }
    .m-sm-auto {
        margin: auto;
    }
    .mt-sm-auto,
    .my-sm-auto {
        margin-top: auto;
    }
    .mr-sm-auto,
    .mx-sm-auto {
        margin-right: auto;
    }
    .mb-sm-auto,
    .my-sm-auto {
        margin-bottom: auto;
    }
    .ml-sm-auto,
    .mx-sm-auto {
        margin-left: auto;
    }
}

@media (min-width: 768px) {
    .m-md-0 {
        margin: 0;
    }
    .mt-md-0,
    .my-md-0 {
        margin-top: 0;
    }
    .mr-md-0,
    .mx-md-0 {
        margin-right: 0;
    }
    .mb-md-0,
    .my-md-0 {
        margin-bottom: 0;
    }
    .ml-md-0,
    .mx-md-0 {
        margin-left: 0;
    }
    .m-md-1 {
        margin: 0.25rem;
    }
    .mt-md-1,
    .my-md-1 {
        margin-top: 0.25rem;
    }
    .mr-md-1,
    .mx-md-1 {
        margin-right: 0.25rem;
    }
    .mb-md-1,
    .my-md-1 {
        margin-bottom: 0.25rem;
    }
    .ml-md-1,
    .mx-md-1 {
        margin-left: 0.25rem;
    }
    .m-md-2 {
        margin: 0.5rem;
    }
    .mt-md-2,
    .my-md-2 {
        margin-top: 0.5rem;
    }
    .mr-md-2,
    .mx-md-2 {
        margin-right: 0.5rem;
    }
    .mb-md-2,
    .my-md-2 {
        margin-bottom: 0.5rem;
    }
    .ml-md-2,
    .mx-md-2 {
        margin-left: 0.5rem;
    }
    .m-md-3 {
        margin: 1rem;
    }
    .mt-md-3,
    .my-md-3 {
        margin-top: 1rem;
    }
    .mr-md-3,
    .mx-md-3 {
        margin-right: 1rem;
    }
    .mb-md-3,
    .my-md-3 {
        margin-bottom: 1rem;
    }
    .ml-md-3,
    .mx-md-3 {
        margin-left: 1rem;
    }
    .m-md-4 {
        margin: 1.5rem;
    }
    .mt-md-4,
    .my-md-4 {
        margin-top: 1.5rem;
    }
    .mr-md-4,
    .mx-md-4 {
        margin-right: 1.5rem;
    }
    .mb-md-4,
    .my-md-4 {
        margin-bottom: 1.5rem;
    }
    .ml-md-4,
    .mx-md-4 {
        margin-left: 1.5rem;
    }
    .m-md-5 {
        margin: 3rem;
    }
    .mt-md-5,
    .my-md-5 {
        margin-top: 3rem;
    }
    .mr-md-5,
    .mx-md-5 {
        margin-right: 3rem;
    }
    .mb-md-5,
    .my-md-5 {
        margin-bottom: 3rem;
    }
    .ml-md-5,
    .mx-md-5 {
        margin-left: 3rem;
    }
    .m-md-auto {
        margin: auto;
    }
    .mt-md-auto,
    .my-md-auto {
        margin-top: auto;
    }
    .mr-md-auto,
    .mx-md-auto {
        margin-right: auto;
    }
    .mb-md-auto,
    .my-md-auto {
        margin-bottom: auto;
    }
    .ml-md-auto,
    .mx-md-auto {
        margin-left: auto;
    }
}

@media (min-width: 992px) {
    .m-lg-0 {
        margin: 0;
    }
    .mt-lg-0,
    .my-lg-0 {
        margin-top: 0;
    }
    .mr-lg-0,
    .mx-lg-0 {
        margin-right: 0;
    }
    .mb-lg-0,
    .my-lg-0 {
        margin-bottom: 0;
    }
    .ml-lg-0,
    .mx-lg-0 {
        margin-left: 0;
    }
    .m-lg-1 {
        margin: 0.25rem;
    }
    .mt-lg-1,
    .my-lg-1 {
        margin-top: 0.25rem;
    }
    .mr-lg-1,
    .mx-lg-1 {
        margin-right: 0.25rem;
    }
    .mb-lg-1,
    .my-lg-1 {
        margin-bottom: 0.25rem;
    }
    .ml-lg-1,
    .mx-lg-1 {
        margin-left: 0.25rem;
    }
    .m-lg-2 {
        margin: 0.5rem;
    }
    .mt-lg-2,
    .my-lg-2 {
        margin-top: 0.5rem;
    }
    .mr-lg-2,
    .mx-lg-2 {
        margin-right: 0.5rem;
    }
    .mb-lg-2,
    .my-lg-2 {
        margin-bottom: 0.5rem;
    }
    .ml-lg-2,
    .mx-lg-2 {
        margin-left: 0.5rem;
    }
    .m-lg-3 {
        margin: 1rem;
    }
    .mt-lg-3,
    .my-lg-3 {
        margin-top: 1rem;
    }
    .mr-lg-3,
    .mx-lg-3 {
        margin-right: 1rem;
    }
    .mb-lg-3,
    .my-lg-3 {
        margin-bottom: 1rem;
    }
    .ml-lg-3,
    .mx-lg-3 {
        margin-left: 1rem;
    }
    .m-lg-4 {
        margin: 1.5rem;
    }
    .mt-lg-4,
    .my-lg-4 {
        margin-top: 1.5rem;
    }
    .mr-lg-4,
    .mx-lg-4 {
        margin-right: 1.5rem;
    }
    .mb-lg-4,
    .my-lg-4 {
        margin-bottom: 1.5rem;
    }
    .ml-lg-4,
    .mx-lg-4 {
        margin-left: 1.5rem;
    }
    .m-lg-5 {
        margin: 3rem;
    }
    .mt-lg-5,
    .my-lg-5 {
        margin-top: 3rem;
    }
    .mr-lg-5,
    .mx-lg-5 {
        margin-right: 3rem;
    }
    .mb-lg-5,
    .my-lg-5 {
        margin-bottom: 3rem;
    }
    .ml-lg-5,
    .mx-lg-5 {
        margin-left: 3rem;
    }
    .m-lg-auto {
        margin: auto;
    }
    .mt-lg-auto,
    .my-lg-auto {
        margin-top: auto;
    }
    .mr-lg-auto,
    .mx-lg-auto {
        margin-right: auto;
    }
    .mb-lg-auto,
    .my-lg-auto {
        margin-bottom: auto;
    }
    .ml-lg-auto,
    .mx-lg-auto {
        margin-left: auto;
    }
}

@media (min-width: 1200px) {
    .m-xl-0 {
        margin: 0;
    }
    .mt-xl-0,
    .my-xl-0 {
        margin-top: 0;
    }
    .mr-xl-0,
    .mx-xl-0 {
        margin-right: 0;
    }
    .mb-xl-0,
    .my-xl-0 {
        margin-bottom: 0;
    }
    .ml-xl-0,
    .mx-xl-0 {
        margin-left: 0;
    }
    .m-xl-1 {
        margin: 0.25rem;
    }
    .mt-xl-1,
    .my-xl-1 {
        margin-top: 0.25rem;
    }
    .mr-xl-1,
    .mx-xl-1 {
        margin-right: 0.25rem;
    }
    .mb-xl-1,
    .my-xl-1 {
        margin-bottom: 0.25rem;
    }
    .ml-xl-1,
    .mx-xl-1 {
        margin-left: 0.25rem;
    }
    .m-xl-2 {
        margin: 0.5rem;
    }
    .mt-xl-2,
    .my-xl-2 {
        margin-top: 0.5rem;
    }
    .mr-xl-2,
    .mx-xl-2 {
        margin-right: 0.5rem;
    }
    .mb-xl-2,
    .my-xl-2 {
        margin-bottom: 0.5rem;
    }
    .ml-xl-2,
    .mx-xl-2 {
        margin-left: 0.5rem;
    }
    .m-xl-3 {
        margin: 1rem;
    }
    .mt-xl-3,
    .my-xl-3 {
        margin-top: 1rem;
    }
    .mr-xl-3,
    .mx-xl-3 {
        margin-right: 1rem;
    }
    .mb-xl-3,
    .my-xl-3 {
        margin-bottom: 1rem;
    }
    .ml-xl-3,
    .mx-xl-3 {
        margin-left: 1rem;
    }
    .m-xl-4 {
        margin: 1.5rem;
    }
    .mt-xl-4,
    .my-xl-4 {
        margin-top: 1.5rem;
    }
    .mr-xl-4,
    .mx-xl-4 {
        margin-right: 1.5rem;
    }
    .mb-xl-4,
    .my-xl-4 {
        margin-bottom: 1.5rem;
    }
    .ml-xl-4,
    .mx-xl-4 {
        margin-left: 1.5rem;
    }
    .m-xl-5 {
        margin: 3rem;
    }
    .mt-xl-5,
    .my-xl-5 {
        margin-top: 3rem;
    }
    .mr-xl-5,
    .mx-xl-5 {
        margin-right: 3rem;
    }
    .mb-xl-5,
    .my-xl-5 {
        margin-bottom: 3rem;
    }
    .ml-xl-5,
    .mx-xl-5 {
        margin-left: 3rem;
    }
    .m-xl-auto {
        margin: auto;
    }
    .mt-xl-auto,
    .my-xl-auto {
        margin-top: auto;
    }
    .mr-xl-auto,
    .mx-xl-auto {
        margin-right: auto;
    }
    .mb-xl-auto,
    .my-xl-auto {
        margin-bottom: auto;
    }
    .ml-xl-auto,
    .mx-xl-auto {
        margin-left: auto;
    }
}