.table {
    width: 100%;
    margin-bottom: 1rem;
    background-color: transparent;
}

.table th,
.table td {
    padding: 0.75rem;
    vertical-align: top;
    border-top: 1px solid #dee2e6;
}

.table thead th {
    vertical-align: bottom;
    border-bottom: 2px solid #dee2e6;
}

.table tbody+tbody {
    border-top: 2px solid #dee2e6;
}

.table .table {
    background-color: #fff;
}

.table-sm th,
.table-sm td {
    padding: 0.3rem;
}

.table-bordered {
    border: 1px solid #dee2e6;
}

.table-bordered th,
.table-bordered td {
    border: 1px solid #dee2e6;
}

.table-bordered thead th,
.table-bordered thead td {
    border-bottom-width: 2px;
}

.table-borderless th,
.table-borderless td,
.table-borderless thead th,
.table-borderless tbody+tbody {
    border: 0;
}

.table-striped tbody tr:nth-of-type(odd) {
    background-color: rgba(0, 0, 0, 0.05);
}

.table-hover tbody tr:hover {
    background-color: rgba(0, 0, 0, 0.075);
}

.table-primary,
.table-primary>th,
.table-primary>td {
    background-color: #f9d5d4;
}

.table-hover .table-primary:hover {
    background-color: #f6bfbe;
}

.table-hover .table-primary:hover>td,
.table-hover .table-primary:hover>th {
    background-color: #f6bfbe;
}

.table-secondary,
.table-secondary>th,
.table-secondary>td {
    background-color: #e7e7e7;
}

.table-hover .table-secondary:hover {
    background-color: #dadada;
}

.table-hover .table-secondary:hover>td,
.table-hover .table-secondary:hover>th {
    background-color: #dadada;
}

.table-success,
.table-success>th,
.table-success>td {
    background-color: #c1e9cd;
}

.table-hover .table-success:hover {
    background-color: #aee2be;
}

.table-hover .table-success:hover>td,
.table-hover .table-success:hover>th {
    background-color: #aee2be;
}

.table-info,
.table-info>th,
.table-info>td {
    background-color: #c6d4e2;
}

.table-hover .table-info:hover {
    background-color: #b5c7d9;
}

.table-hover .table-info:hover>td,
.table-hover .table-info:hover>th {
    background-color: #b5c7d9;
}

.table-warning,
.table-warning>th,
.table-warning>td {
    background-color: #fcf8c2;
}

.table-hover .table-warning:hover {
    background-color: #fbf5aa;
}

.table-hover .table-warning:hover>td,
.table-hover .table-warning:hover>th {
    background-color: #fbf5aa;
}

.table-danger,
.table-danger>th,
.table-danger>td {
    background-color: #fcdab8;
}

.table-hover .table-danger:hover {
    background-color: #fbcda0;
}

.table-hover .table-danger:hover>td,
.table-hover .table-danger:hover>th {
    background-color: #fbcda0;
}

.table-light,
.table-light>th,
.table-light>td {
    background-color: #fdfdfe;
}

.table-hover .table-light:hover {
    background-color: #ececf6;
}

.table-hover .table-light:hover>td,
.table-hover .table-light:hover>th {
    background-color: #ececf6;
}

.table-dark,
.table-dark>th,
.table-dark>td {
    background-color: #c1c1c1;
}

.table-hover .table-dark:hover {
    background-color: #b4b4b4;
}

.table-hover .table-dark:hover>td,
.table-hover .table-dark:hover>th {
    background-color: #b4b4b4;
}

.table-active,
.table-active>th,
.table-active>td {
    background-color: rgba(0, 0, 0, 0.075);
}

.table-hover .table-active:hover {
    background-color: rgba(0, 0, 0, 0.075);
}

.table-hover .table-active:hover>td,
.table-hover .table-active:hover>th {
    background-color: rgba(0, 0, 0, 0.075);
}

.table .thead-dark th {
    color: #fff;
    background-color: #222;
    border-color: #353535;
}

.table .thead-light th {
    color: #495057;
    background-color: #eee;
    border-color: #dee2e6;
}

.table-dark {
    color: #fff;
    background-color: #222;
}

.table-dark th,
.table-dark td,
.table-dark thead th {
    border-color: #353535;
}

.table-dark.table-bordered {
    border: 0;
}

.table-dark.table-striped tbody tr:nth-of-type(odd) {
    background-color: rgba(255, 255, 255, 0.05);
}

.table-dark.table-hover tbody tr:hover {
    background-color: rgba(255, 255, 255, 0.075);
}

@media (max-width: 575.98px) {
    .table-responsive-sm {
        display: block;
        width: 100%;
        overflow-x: auto;
        -webkit-overflow-scrolling: touch;
        -ms-overflow-style: -ms-autohiding-scrollbar;
    }
    .table-responsive-sm>.table-bordered {
        border: 0;
    }
}

@media (max-width: 767.98px) {
    .table-responsive-md {
        display: block;
        width: 100%;
        overflow-x: auto;
        -webkit-overflow-scrolling: touch;
        -ms-overflow-style: -ms-autohiding-scrollbar;
    }
    .table-responsive-md>.table-bordered {
        border: 0;
    }
}

@media (max-width: 991.98px) {
    .table-responsive-lg {
        display: block;
        width: 100%;
        overflow-x: auto;
        -webkit-overflow-scrolling: touch;
        -ms-overflow-style: -ms-autohiding-scrollbar;
    }
    .table-responsive-lg>.table-bordered {
        border: 0;
    }
}

@media (max-width: 1199.98px) {
    .table-responsive-xl {
        display: block;
        width: 100%;
        overflow-x: auto;
        -webkit-overflow-scrolling: touch;
        -ms-overflow-style: -ms-autohiding-scrollbar;
    }
    .table-responsive-xl>.table-bordered {
        border: 0;
    }
}

.table-responsive {
    display: block;
    width: 100%;
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
    -ms-overflow-style: -ms-autohiding-scrollbar;
}

.table-responsive>.table-bordered {
    border: 0;
}