.cardinput{
    display: flex;
    gap: 10px;
    border: 1px solid #999999;
    border-radius: 5px;
    padding: 0.5rem;
}

.cardinput .k-textbox.form-control{
    border: none;
}

.cardinput button{
    border: none;
    background: none;
    box-shadow: none;
}

.cardinput button:hover, 
.cardinput button:focus{
    border: none;
    background: none;
    box-shadow: none;
}