.cardinput{
    display: flex;
    gap: 10px;
    border: 1px solid #999999;
    border-radius: 5px;
    padding: 0.5rem;
}

.cardinput .k-textbox.form-control{
    border: none;
}

.cardinput .k-textbox.form-control:focus{
    border: none;
}

.cardinput button{
    border: none;
    background: none;
    box-shadow: none;
    padding: 0px 14px;
}

.cardinput button:hover,
.cardinput button:focus, 
.cardinput button:active{
    background: transparent;
}

.cardinput button:hover{
    color: #000;
}