@import "./components_css/crn-button.css";
@import "./components_css/crn-cron-grid.css";
@import "./components_css/crn-cron-calendar.css"



/****************/
/**** INPUT ****/
/**************/
.k-checkbox:focus + .k-checkbox-label:before,
.k-checkbox:hover + .k-checkbox-label:before,
.k-radio:focus + .k-radio-label:before,
.k-radio:hover + .k-radio-label:before {
    box-shadow: 0 0 5px 0 rgb(59, 68, 142) !important;
    border-color: rgb(59, 68, 142) !important;
}








.carousel-caption {
    color: #524646;
}


.navbar-default .navbar-nav > li > a > i {
    color: #fff;
    display: none;
}





/*Ajustes MaurĂ­cio F I N A L*/

::-webkit-scrollbar {
    width: 8px;
    height: 8px;
}
::-webkit-scrollbar-button {
    width: 0px;
    height: 0px;
}
::-webkit-scrollbar-thumb {
    background: #c0c0c082;
    border: 0px none #ffffff;
    border-radius: 0px;
    border-left: 1px solid #d7d7d7;
}
::-webkit-scrollbar-thumb:hover {
    background: #bdbdbd;
}
::-webkit-scrollbar-thumb:active {
    background: #bdbdbd;
}
::-webkit-scrollbar-track {
    background: transparent;
    border: 0px none #ffffff;
    border-left: 1px solid #cecece96;
}
::-webkit-scrollbar-track:hover {
    background: transparent;
}
::-webkit-scrollbar-track:active {
    background: #333333;
}
::-webkit-scrollbar-corner {
    background: transparent;
}

input:-webkit-autofill {
    -webkit-box-shadow: 0 0 0 30px white inset;
}

input:-webkit-autofill:focus {
    -webkit-box-shadow: 0 0 0 30px white inset;
}

.form-control {
    width: 100%;
    box-shadow: none;
}

.k-checkbox-label {
    font-weight: unset;
}

label {
    font-weight: 400;
}

.k-primary {
    color: hsla(0, 0%, 100%, 0.87);
    background-color: #3f51b5;
    border-color: #3f51b5;
}

.dynamic-image-container {
    border-style: dashed;
    border: 1px dashed #3f51b5;
    color: #000;
    border-radius: 5px;
    padding: 20px;
}

.panel-default > .panel-heading {
    color: #fff;
    background-color: #5665be;
    border-color: #ddd;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4 {
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
    font-weight: 400;
}

body {
    width: 100%;
    height: 100%;
    background: #ffffff;
}

html {
    width: 100%;
    height: 100%;
}

@media only screen and (min-width: 768px) {
    body {
        background: #f1f1f1;
    }
}

.bg {
    background-image: linear-gradient(-140deg, #75cff8, #00b2ff, #0091ff, #006aff, #065375);
    width: 100%;
    height: 100%;
}



.k-input.k-textbox:focus,
.k-textbox:focus {
    border-color: #3f51b5;
}



.k-widget {
    font-size: 12px;
}


.k-filter-help-text {
    font-weight: 400;
    font-size: 14px;
    color: #626262;
}

.k-animation-container > .k-list-container > .k-list-scroller > .k-list {
    box-shadow: 0 3px 3px -2px rgba(0, 0, 0, 0.02), 0 3px 4px 0 rgba(0, 0, 0, 0.14), 0 1px 8px 0 rgba(0, 0, 0, 0.12);
    font-weight: 400;
}

.k-list .k-item.k-state-selected {
    color: #3f51b5;
}

.k-list .k-item:hover.k-state-selected {
    color: #3f51b5;
}

.k-dropdown-wrap > .k-input {
    -ms-flex: 1;
    flex: 1;
    font-weight: normal;
    color: #000;
}

.k-slider .k-draghandle,
.k-switch-on .k-switch-handle {
    color: hsla(0, 0%, 100%, 0.87);
    background-color: #3a4091;
    border-color: #3a4091;
}



/*
==========================
Material Grid - F I N A L
==========================
*/

.navbar-default {
    background-color: #3b448e;
    border-color: #3a4091;
}

.navbar-default .navbar-brand {
    color: #fff;
}

.navbar-default .navbar-nav > li > a {
    color: #fff;
}

.caret {
    padding-top: 5px;
}

.navbar-default .navbar-nav > li > a:focus,
.navbar-default .navbar-nav > li > a:hover {
    color: #fff;
    background-color: #282d57;
}

.navbar-default .navbar-nav > .open > a,
.navbar-default .navbar-nav > .open > a:focus,
.navbar-default .navbar-nav > .open > a:hover {
    color: #fff;
    background-color: #282d57;
}

.dropdown-menu {
    position: absolute;
    top: 101%;
    left: 0;
    z-index: 1000;
    display: none;
    float: left;
    min-width: 160px;
    padding: 5px 0;
    margin: 2px 0 0;
    font-size: 14px;
    text-align: left;
    list-style: none;
    background-color: #ffffff;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    border: 1px solid #ccc;
    border: 0px solid rgb(5, 21, 21);
    border-radius: 4px;
    -webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
}

.dropdown-menu > li > a {
    display: block;
    padding: 3px 20px;
    clear: both;
    font-weight: 400;
    line-height: 1.42857143;
    color: #393939;
    white-space: nowrap;
}

.dropdown-menu > li > a:focus,
.dropdown-menu > li > a:hover {
    color: #5665be;
    text-decoration: none;
    background-color: #f6f6f6;
}



.nav-tabs {
    background: #5665be;
    border-bottom: 1px solid #ddd;
    height: 100%;
}

.nav-tabs > li {
    float: left;
    margin-bottom: -1px;
}

.nav-tabs > li > a,
.nav-tabs > li > a:hover,
.nav-tabs > li > a:focus {
    background-color: transparent;
    border: 0;
    color: #ffffff;
    font-weight: 500;
}

.nav-tabs > li.active > a,
.nav-tabs > li.active > a:hover,
.nav-tabs > li.active > a:focus {
    background-color: transparent;
    border: 0;
    color: #ffffff;
    font-weight: 500;
}

.nav-tabs > li.disabled > a,
.nav-tabs > li.disabled > a:hover {
    color: rgba(255, 255, 255, 0.5);
}

.dropdown-menu > .active > a,
.dropdown-menu > .active > a:focus,
.dropdown-menu > .active > a:hover {
    color: #fff;
    text-decoration: none;
    background-color: #5665be;
    outline: 0;
}

textarea.form-control.k-textbox {
    height: auto;
}

.main-view {
    width: 100%;
}

@media only screen and (min-width: 768px) {
    .main-view {
        box-shadow: 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
        background: #ffffff;
        margin: 30px;
        padding: 15px;
        width: calc(100% - 60px);
    }
}


.k-checkbox:checked + .k-checkbox-label:before {
    background-color: #3f51b5;
    border-color: #3f51b5;
}

.k-checkbox:checked + .k-checkbox-label:after,
.k-checkbox:indeterminate + .k-checkbox-label:after {
    background-color: #008dcd;
    border-color: #3f51b5;
}

.k-input.k-textbox,
.k-textarea,
.k-textbox {
    background-color: transparent;
    border-width: 0 0 1px;
    border-color: rgba(0, 0, 0, 0.42);
    border-radius: 0;
    box-shadow: none;
    font-weight: normal;
    font-size: 14px;
    color: #6b6b6b;
}

.login-view {
    box-shadow: 0 0px 0px 0px rgba(0, 0, 0, 0.2), 0 0px 0px 0 rgba(0, 0, 0, 0.14), 0 1px 3px 0 rgba(0, 0, 0, 0.12);
    background: #ffffff;
    padding: 40px 30px 40px 30px;
    border-radius: 3px;
}

.main-title {
    padding: 20px 25px;
    margin-bottom: 0;
    color: inherit;
    background-color: #282d57;
    color: #fff;
    display: block;
}

@media only screen and (max-width: 768px) {
    .navbar-default .navbar-nav .open .dropdown-menu > li > a {
        color: #fff;
    }
    .login-panel {
        position: relative;
        transform: translateY(40%);
        vertical-align: middle;
        width: 100%;
    }

    .main-title {
        padding: 20px 25px;
        margin-bottom: 0;
        color: inherit;
        background-color: #337ab7;
        display: none;
    }
}

.pace-inactive {
    display: none;
}

.pace .pace-progress {
    background: #1c89c7;
    position: fixed;
    z-index: 2000;
    top: 0;
    width: 100%;
    height: 4px;
}

.fill {
    width: 100%;
    height: 100%;
}
.navbar {
    text-transform: uppercase;
}

.crn-grid-title {
    float: left;
    color: #3d488b;
    font-size: 20px;
    font-family: sans-serif;
    margin: 0;
    padding: 0;
    padding-left: 7px;
    margin-top: 0px;
}



.k-footer-template td {
    border-width: 0px;
}



.k-autocomplete .k-input,
.k-dateinput-wrap .k-input,
.k-dropdown-wrap .k-input,
.k-multiselect-wrap .k-input,
.k-numeric-wrap .k-input,
.k-picker-wrap .k-input {
    padding: 0px 0;
    height: calc(10px + 1.125em);
}

.k-dateinput-wrap .k-select,
.k-dropdown-wrap .k-select,
.k-numeric-wrap .k-select,
.k-picker-wrap .k-select {
    padding: 4px 4px;
}

.k-edit-field {
    display: block !important;
}


/* ---- CRON-SCHEDULER ----*/

cron-scheduler .k-link:link {
    color: #000000;
}

cron-scheduler a.k-link {
    color: #000;
    font-size: 12px;
    font-weight: normal;
    text-transform: uppercase;
}

/* ---- CRON-SCHEDULER CALENDAR ----*/

.k-scheduler-calendar .k-link:link {
    color: #000;
}

.k-calendar .k-footer .k-nav-today {
    color: #000;
}

.k-scheduler-calendar .k-footer .k-nav-today:hover {
    color: #000;
}

.k-scheduler-calendar a.k-link {
    font-size: 12px;
    font-weight: normal;
    text-transform: uppercase;
    color: #000;
}

.k-scheduler-toolbar,
.k-scheduler-toolbar,
.k-scheduler-toolbar a.k-link {
    background-color: #3b448e;
    color: #fff;
}

.k-scheduler-calendar .k-calendar-view {
    width: initial;
    height: initial;
}

.k-scheduler-calendar .k-content th,
.k-calendar-view .k-content th {
    text-align: center;
}

/* Fixe Views as Dropdown*/

.k-scheduler-views * {
    background-color: #3b448e !important;
}

.k-scheduler-views .k-current-view {
    display: block;
}

.k-scheduler-views > li {
    display: none;
}

.k-state-expanded.k-scheduler-views > li {
    display: block;
}

.k-scheduler-views {
    -ms-flex-direction: column;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    flex-direction: column;
    -ms-flex-align: stretch;
    -webkit-box-align: stretch;
    -webkit-align-items: stretch;
    align-items: stretch;
    position: absolute;
    right: 0px;
    top: 0px;
    z-index: 1000;
}

.k-scheduler-refresh {
    right: 10px;
    position: relative;
}

.k-dropdown-wrap .k-select {
    opacity: 1;
}

.k-dropdown-wrap {
    border-color: #000;
}

.k-pager-sizes.k-label {
    color: #000;
}

.k-pager-info.k-label {
    color: #000;
}

caption {
    color: #4a4747;
}

.k-treeview .k-in.k-state-selected {
    color: #a00404;
}

.ui-notification.warning {
    color: #24292e;
    background: #f0ad4e;
}
.ui-notification.error {
    color: black;
    background: #d9534f;
}
.ui-notification.success {
    color: #24292e;
    background: #5cb85c;
}
.ui-notification.info {
    color: #24292e;
    background: #5bc0de;
}

div .messages {
    float: left;
}

.k-list-optionlabel.k-state-focused {
    background-color: #ededed !important;
}

.k-dropdown-wrap.ng-invalid-required {
    border-color: #f31700;
}

