/*
*
* MATERIAL -> CRN-BUTTON
*
* Todo CSS destina ao elemento button.
*
*/

.k-button {
    font-weight: 400;
    transition: box-shadow 0.28s cubic-bezier(0.4, 0, 0.2, 1);
    text-transform: capitalize;
    transition: 200ms;
    font-weight: normal;
}

.k-button[disabled] {
    background-color: #dcdcdc;
    color: #616161;
    opacity: 1;
}

.k-button:focus,
.k-button:hover {
    text-decoration: none;
    outline: 0;
}

/* Alteração de cores através de classes */

.k-primary {
    color: #fff;
    background-color: #337ab7;
    border-color: #337ab7;
}

.k-success {
    color: #fff;
    background-color: #257d25;
    border-color: #257d25;
}

.k-success:focus,
.k-success:hover {
    background-color: #195419;
    color: #fff;
}

.k-info,
.crnCSS-default {
    color: #fff;
    background-color: #3b448e;
    border-color: #3b448e;
}

.k-info:focus,
.k-info:hover,
.crnCSS-default:focus,
.crnCSS-default:hover {
    background-color: #232853;
    color: #fff;
}

.k-warning {
    color: #fff;
    background-color: #f0ad4e;
    border-color: #f0ad4e;
}

.k-warning:focus,
.k-warning:hover {
    color: #fff;
}

.k-danger {
    color: #fff;
    background-color: #ce3a36;
    border-color: #ce3a36;
}

.k-danger:focus,
.k-danger:hover {
    background-color: #c94642;
    color: #fff;
}

/* botão com texto */

.k-button-with-label {
    width: max-content !important;
    height: 33px !important;
    padding: 10px !important;
    border-radius: 0% !important;
}

/* Ícones */

.k-button i {
    position: relative;
    top: -2px;
    margin-right: 3px;
    display: inline-block;
    font-style: normal;
    font-weight: 400;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

/* crn-grid */
.k-button-icontext .k-icon {
    margin: 0;
}

/*form*/
.btn-fab {
    border-radius: 50%;
    font-size: 12px;
    height: 42px;
    margin: auto;
    min-width: 42px;
    width: 42px;
    padding: 0;
    position: relative;
}








/*??*/

.btn-space-table {
    display: flex;
    width: 80px;
}

.new-table-cron .btn-space-table .k-button {
    min-width: 24px;
    min-height: 24px;
}

.k-detail-cell .k-grid .k-header .k-button:hover {
    background-color: #3d488b;
    text-transform: uppercase;
    color: #fff;
    transition: 200ms;
}

/* ---- CRON-SCHEDULER ----*/

cron-scheduler .k-link:link {
    color: #000000;
}

cron-scheduler a.k-link {
    color: #000;
    font-size: 12px;
    font-weight: normal;
    text-transform: uppercase;
}

/* CÓDIGO À ELIMINAR

.btn-primary {
    color: #fff !important;
    background-color: #337ab7 !important;
} 
 .btn-success {
    color: #fff !important;
    background-color: #257d25 !important;
} 
.btn-info {
    color: #fff !important;
    background-color: #3b448e !important;
} 

.btn-warning {
    color: #fff !important;
    background-color: #f0ad4e !important;
}

.btn-danger {
    color: #fff !important;
    background-color: #ce3a36 !important;
}

.btn-danger:focus,
.btn-danger:hover {
    background-color: #ff534e !important;
}


button.btn-default {
    color: white;
    background: #3b448e;
}

button.btn-default:hover,
button.btn-default:focus,
button.btn-default:active {
    opacity: 1 !important;
    background: #282d57;
    color: white !important;
    box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2), 0 8px 10px 1px rgba(0, 0, 0, 0.14),
        0 3px 14px 2px rgba(0, 0, 0, 0.12);
}
*/
