/*
*
* MATERIAL -> UI-NOTIFICATION
*
* Todo CSS destina ao elemento de notificação.
*
*/

.ui-notification.warning {
    color: #24292e;
    background-color: #f0ad4e;
}

.ui-notification.error {
    color: black;
    background-color: #d9534f;
}

.ui-notification.success {
    color: #24292e;
    background-color: #5cb85c;
}

.ui-notification.info {
    color: #24292e;
    background-color: #5bc0de;
}
