<div class="item" id="${COMPONENTID}">
    <img data-component="crn-image" alt="First Slide" style="margin: 0 auto; object-fit: cover;" xattr-position="" object-fit="object-fit: cover;" src="node_modules/cronapp-framework-js/img/placehold-900x500.png">
    <div class="carousel-caption">
        <h1 data-component="crn-title" class="text-center" title-position="text-center">New Slide</h1>
        <h2 data-component="crn-subtitle" class="text-center" subtitle-position="text-center">Subtitle</h2>
    </div>
</div>