<cron-form-bpmn cron-form-bpmn-api="/api/engine/" data-component="crn-form-bpmn">
    <div class="container"> 
      <h2 class="cron-form-bpmn-title"></h2> 
      <hr> 
      <form role="form" class="form-horizontal" name="variablesForm"> 
        <div class="row" data-container="true" data-replace="true">
            Inserir os componentes aqui 
        </div> 
        <hr> 
        <div class="row"> 
          <div class="col-md-11" data-container="true" data-replace="true"> 
          </div> 
          <div class="col-md-1 cron-form-bpmn-button" data-container="true" data-replace="true"> 
          </div> 
        </div> 
      </form> 
    </div> 
  </cron-form-bpmn>
  