<div id="calendar" data-role="calendar" class="k-widget k-openEditorcalendar">
    <div class="k-calendar-header">
        <a href="#" data-action="nav-up" role="button" aria-live="assertive" aria-atomic="true" class="k-button k-title" aria-disabled="false">August 2020</a>
        <span class="k-calendar-nav">
            <a data-action="prev" class="k-button k-button-icon k-prev-view" aria-disabled="false">
                <span class="k-icon k-i-arrow-60-left"></span>
            </a>
            <a data-action="today" class="k-today">Today</a>
            <a data-action="next" class="k-button k-button-icon k-next-view" aria-disabled="false">
                <span class="k-icon k-i-arrow-60-right"></span>
            </a>
        </span>
    </div>
    <div class="k-calendar-view k-calendar-monthview">
        <table tabindex="0" role="grid" class="k-content k-calendar-content k-month" cellspacing="0" data-start="2020/6/26" aria-activedescendant="calendar_cell_selected">
            <thead>
            <tr role="row">
                <th scope="col" title="Sunday">Su</th>
                <th scope="col" title="Monday">Mo</th>
                <th scope="col" title="Tuesday">Tu</th>
                <th scope="col" title="Wednesday">We</th>
                <th scope="col" title="Thursday">Th</th>
                <th scope="col" title="Friday">Fr</th>
                <th scope="col" title="Saturday">Sa</th>
            </tr>
            </thead>
            <tbody>
            <tr role="row">
                <td class="k-other-month k-weekend" role="gridcell"><a tabindex="-1" class="k-link" href="#" data-value="2020/6/26" title="Sunday, July 26, 2020">26</a></td>
                <td class="k-other-month" role="gridcell"><a tabindex="-1" class="k-link" href="#" data-value="2020/6/27" title="Monday, July 27, 2020">27</a></td>
                <td class="k-other-month" role="gridcell"><a tabindex="-1" class="k-link" href="#" data-value="2020/6/28" title="Tuesday, July 28, 2020">28</a></td>
                <td class="k-other-month" role="gridcell"><a tabindex="-1" class="k-link" href="#" data-value="2020/6/29" title="Wednesday, July 29, 2020">29</a></td>
                <td class="k-other-month" role="gridcell"><a tabindex="-1" class="k-link" href="#" data-value="2020/6/30" title="Thursday, July 30, 2020">30</a></td>
                <td class="k-other-month" role="gridcell"><a tabindex="-1" class="k-link" href="#" data-value="2020/6/31" title="Friday, July 31, 2020">31</a></td>
                <td class="k-weekend" role="gridcell"><a tabindex="-1" class="k-link" href="#" data-value="2020/7/1" title="Saturday, August 01, 2020">1</a></td>
            </tr>
            <tr role="row">
                <td class="k-weekend" role="gridcell"><a tabindex="-1" class="k-link" href="#" data-value="2020/7/2" title="Sunday, August 02, 2020">2</a></td>
                <td role="gridcell" class=""><a tabindex="-1" class="k-link" href="#" data-value="2020/7/3" title="Monday, August 03, 2020">3</a></td>
                <td role="gridcell" class=""><a tabindex="-1" class="k-link" href="#" data-value="2020/7/4" title="Tuesday, August 04, 2020">4</a></td>
                <td role="gridcell" class=""><a tabindex="-1" class="k-link" href="#" data-value="2020/7/5" title="Wednesday, August 05, 2020">5</a></td>
                <td role="gridcell"><a tabindex="-1" class="k-link" href="#" data-value="2020/7/6" title="Thursday, August 06, 2020">6</a></td>
                <td class="k-today k-state-selected" role="gridcell" aria-selected="true" id="calendar_cell_selected"><a tabindex="-1" class="k-link" href="#" data-value="2020/7/7" title="Friday, August 07, 2020">7</a></td>
                <td class="k-weekend" role="gridcell"><a tabindex="-1" class="k-link" href="#" data-value="2020/7/8" title="Saturday, August 08, 2020">8</a></td>
            </tr>
            <tr role="row">
                <td class="k-weekend" role="gridcell"><a tabindex="-1" class="k-link" href="#" data-value="2020/7/9" title="Sunday, August 09, 2020">9</a></td>
                <td role="gridcell" class=""><a tabindex="-1" class="k-link" href="#" data-value="2020/7/10" title="Monday, August 10, 2020">10</a></td>
                <td role="gridcell" class=""><a tabindex="-1" class="k-link" href="#" data-value="2020/7/11" title="Tuesday, August 11, 2020">11</a></td>
                <td role="gridcell" class=""><a tabindex="-1" class="k-link" href="#" data-value="2020/7/12" title="Wednesday, August 12, 2020">12</a></td>
                <td role="gridcell"><a tabindex="-1" class="k-link" href="#" data-value="2020/7/13" title="Thursday, August 13, 2020">13</a></td>
                <td role="gridcell"><a tabindex="-1" class="k-link" href="#" data-value="2020/7/14" title="Friday, August 14, 2020">14</a></td>
                <td class="k-weekend" role="gridcell"><a tabindex="-1" class="k-link" href="#" data-value="2020/7/15" title="Saturday, August 15, 2020">15</a></td>
            </tr>
            <tr role="row">
                <td class="k-weekend" role="gridcell"><a tabindex="-1" class="k-link" href="#" data-value="2020/7/16" title="Sunday, August 16, 2020">16</a></td>
                <td role="gridcell" class=""><a tabindex="-1" class="k-link" href="#" data-value="2020/7/17" title="Monday, August 17, 2020">17</a></td>
                <td role="gridcell"><a tabindex="-1" class="k-link" href="#" data-value="2020/7/18" title="Tuesday, August 18, 2020">18</a></td>
                <td role="gridcell"><a tabindex="-1" class="k-link" href="#" data-value="2020/7/19" title="Wednesday, August 19, 2020">19</a></td>
                <td role="gridcell"><a tabindex="-1" class="k-link" href="#" data-value="2020/7/20" title="Thursday, August 20, 2020">20</a></td>
                <td role="gridcell"><a tabindex="-1" class="k-link" href="#" data-value="2020/7/21" title="Friday, August 21, 2020">21</a></td>
                <td class="k-weekend" role="gridcell"><a tabindex="-1" class="k-link" href="#" data-value="2020/7/22" title="Saturday, August 22, 2020">22</a></td>
            </tr>
            <tr role="row">
                <td class="k-weekend" role="gridcell"><a tabindex="-1" class="k-link" href="#" data-value="2020/7/23" title="Sunday, August 23, 2020">23</a></td>
                <td role="gridcell" class=""><a tabindex="-1" class="k-link" href="#" data-value="2020/7/24" title="Monday, August 24, 2020">24</a></td>
                <td role="gridcell"><a tabindex="-1" class="k-link" href="#" data-value="2020/7/25" title="Tuesday, August 25, 2020">25</a></td>
                <td role="gridcell"><a tabindex="-1" class="k-link" href="#" data-value="2020/7/26" title="Wednesday, August 26, 2020">26</a></td>
                <td role="gridcell" class=""><a tabindex="-1" class="k-link" href="#" data-value="2020/7/27" title="Thursday, August 27, 2020">27</a></td>
                <td role="gridcell"><a tabindex="-1" class="k-link" href="#" data-value="2020/7/28" title="Friday, August 28, 2020">28</a></td>
                <td class="k-weekend" role="gridcell"><a tabindex="-1" class="k-link" href="#" data-value="2020/7/29" title="Saturday, August 29, 2020">29</a></td>
            </tr>
            <tr role="row">
                <td class="k-weekend" role="gridcell"><a tabindex="-1" class="k-link" href="#" data-value="2020/7/30" title="Sunday, August 30, 2020">30</a></td>
                <td role="gridcell"><a tabindex="-1" class="k-link" href="#" data-value="2020/7/31" title="Monday, August 31, 2020">31</a></td>
                <td class="k-other-month" role="gridcell"><a tabindex="-1" class="k-link" href="#" data-value="2020/8/1" title="Tuesday, September 01, 2020">1</a></td>
                <td class="k-other-month" role="gridcell"><a tabindex="-1" class="k-link" href="#" data-value="2020/8/2" title="Wednesday, September 02, 2020">2</a></td>
                <td class="k-other-month" role="gridcell"><a tabindex="-1" class="k-link" href="#" data-value="2020/8/3" title="Thursday, September 03, 2020">3</a></td>
                <td class="k-other-month" role="gridcell"><a tabindex="-1" class="k-link" href="#" data-value="2020/8/4" title="Friday, September 04, 2020">4</a></td>
                <td class="k-other-month k-weekend" role="gridcell"><a tabindex="-1" class="k-link" href="#" data-value="2020/8/5" title="Saturday, September 05, 2020">5</a></td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
