<div>
    <cronapp-rating ng-model="vars.evaluation${RANDOM}" icon-off="fa fa-star-o" xattr-default-value="">
        <i style="font-size: 200%; color: #3A3A3A;" icon-theme="" class="component-holder fa fa-star"></i>
        <i style="font-size: 200%; color: #3A3A3A;" icon-theme="" class="component-holder fa fa-star"></i>
        <i style="font-size: 200%; color: #3A3A3A;" icon-theme="" class="component-holder fa fa-star"></i>
        <i style="font-size: 200%; color: #3A3A3A;" icon-theme="" class="component-holder fa fa-star"></i>
        <i style="font-size: 200%; color: #3A3A3A;" icon-theme="" class="component-holder fa fa-star"></i>
    </cronapp-rating>
</div>