<div class="component-holder ng-binding ng-scope col-xs-12 col-md-12" data-component="crn-social-login"
  id="crn-social-login${RANDOM}">
  <ul class="list-inline center-block text-center">
    <li data-container="true">
      <form action="/signin/facebook" method="POST" id="facebook">
        <input type="hidden" name="scope" value="email,public_profile">
        <a title="Facebook" role="button" onclick="document.getElementById('facebook').submit();">
          <div data-component="crn-icon" class="component-holder" id="crn-icon-${RANDOM}">
            <i class="fa fa-2x fa-facebook"></i>
          </div>
        </a>
      </form>
    </li>
    <li data-container="true">
      <form action="/signin/github" method="POST" id="github">
        <input type="hidden" name="scope" value="email,public_profile">
        <a title="GitHub" role="button" onclick="document.getElementById('github').submit();">
          <div data-component="crn-icon" class="component-holder" id="crn-icon-${RANDOM}">
            <i class="fa fa-2x fa-github-alt"></i>
          </div>
        </a>
      </form>
    </li>
    <li data-container="true">
      <form action="/signin/linkedin" method="POST" id="linkedin">
        <input type="hidden" name="scope" value="r_emailaddress">
        <a title="LinkedIn" role="button" onclick="document.getElementById('linkedin').submit();">
          <div data-component="crn-icon" class="component-holder" id="crn-icon-${RANDOM}">
            <i class="fa fa-2x fa-linkedin-square"></i>
          </div>
        </a>
      </form>
    </li>
    <li data-container="true">
      <form action="/signin/google" method="POST" id="google">
        <input type="hidden" name="scope" value="email">
        <a title="Google" role="button" onclick="document.getElementById('google').submit();">
          <div data-component="crn-icon" class="component-holder" id="crn-icon-${RANDOM}">
            <i class="fa fa-2x fa-google"></i>
          </div>
        </a>
      </form>
    </li>
    <li data-container="true">
      <form action="/signin/cronapp" method="POST" id="cronapp">
        <input type="hidden" name="scope" value="email">
        <a title="CronApp" role="button" onclick="document.getElementById('cronapp').submit();">
          <div data-component="crn-icon" class="component-holder" id="crn-icon-${RANDOM}">
            <i class="fa fa-2x fa-cloud"></i>
          </div>
        </a>
      </form>
    </li>
  </ul>
</div>