<div class="form-group">
    <label for="input${RANDOM}">Label</label>
    <div class="cardinput">
        <input ng-attr-type="{{ checkPassword ? 'text' : 'password' }}" ng-required="false"
            ng-model="vars.input${RANDOM}" class="form-control k-textbox" id="input${RANDOM}"
            placeholder="Placeholder text">

        <button class="btn-light" ng-click="checkPassword=!checkPassword">
            <i ng-if="!checkPassword " class='fa fa-eye'></i>
            <i ng-if="checkPassword" class='fa fa-eye-slash'></i>
        </button>
    </div>
</div>